@import "constants";

//Main Admin page
.pagination-links {
  @include standard_button;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
    font-size: $bodySubHeaderSize;

    a {
      color: $backgroundColor;
      margin: 0 10px;
    }
  }
}

.active {
  a{
    color: $qdinkaSafetyOrange !important;
  }
}

.disabled {
  a {
    color: $fontColor !important;
  }
}

.admin-page-wrapper {
  margin-top: 10px;
}

//User Admin Page
table {
  @include bubble_outer();
  width: 100%;
  margin-top: 5px;
  border-spacing: 0;

  thead {
    tr {
      td {
        font-weight: bold;
        padding: 5px 0 5px 5px;
      }
    }
  }

  tbody {
    @include bubble_inner;

    tr {

      td {
        padding: 5px 0 5px 5px;
      }
      a {
        font-weight: bold;
        color: $fontColor;
      }

      a:hover {
        color: $qdinkaBlue;
      }
    }

    tr:nth-of-type(even) {
      background: $colorTableHighlight;
    }
  }
}

//Add User Page
.admin-user-wrapper {
  @include bubble_outer();
  @include box;
  width: 300px;
  margin: auto;

  h1 {
    margin: 0;
  }
}

.user-admin-content {
  @include bubble_inner;
  @include box;
  padding: 5px 5px 0 5px;

  input {
    @include standard_input;
    width: 100%;
    margin-bottom: 5px;
  }
}