@import "constants";

//Standard HTML tags
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $backgroundColor;
  color: $fontColor;
  font-size: $bodyFontSize;
}

h1 {
  font-size: $bodyHeaderSize;
  font-weight: bold;
}

h2 {
  font-size: $bodySubHeaderSize;
  font-weight: bold;
}