@import "constants";

//Standard HTML tags
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $backgroundColor;
  color: $fontColor;
  font-size: $bodyFontSize;
}

h1 {
  font-size: $bodyHeaderSize;
  font-weight: bold;
}

h2 {
  font-size: $bodySubHeaderSize;
  font-weight: bold;
}

h3 {
  font-size: $bodyFontSize;
  font-weight: bold;
}

a {
  text-decoration: none;
}

//Header Bar
.template-header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: $backgroundOffset;
  border-bottom: 1px solid $lineColorLight;
  @include next_row;
  padding: 5px;
}

.template-logo-wrapper {
  width: 300px;
  float: left;
  margin-top: 6px;
}

.template-search-bar-wrapper {
  width: 600px;
  float: left;
  margin-top: 14px;

  form {
    border: 1px solid $lineColorDark;
    border-radius: 3px;
  }

  input[type='text'] {
    color: $fontColor;
    font-size: $bodySubHeaderSize;
    background: $backgroundColor;
    border: none;
    border-radius: 3px 0 0 3px;
    vertical-align: middle;
    padding: 5px;
    width: 553px;
  }

  input[type='text']:focus {
    outline: none;
  }

  input[type='image'] {
    width: 15px;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
    padding: 6px 10px 7px 10px;
    margin-left: -5px;
  }
}

.template-header-menu {
  float: right;
  width: auto;

  ul {
    list-style-type: none;
    margin-right: 10px;
    padding: 0;
    border-radius: 3px;

    li {
      display: inline;

      a {

        img {
          width: 20px;
          padding: 5px 15px;
        }

      }

    }
  }
}

//Content area
.template-wrapper {
  @include next_row;
  overflow: hidden;
  width: 100%;
  margin-top: 75px;
}

.template-side-menu-wrapper {
  @include box;
  width: 300px;
  padding-left: 5px;
//  float: left;
  position: fixed;
}

.template-content-wrapper {
  @include box;
//  width: auto;
  padding: 0 5px;
//  float: left;
}

.template-side-menu {
  @include box;
  @include bubble_outer;
  width: 100%;
  margin-top: 10px;

  h3 {
    margin: 0;
    color: $qdinkaPurple;
  }
}

.template-side-menu-content {
  @include box;
  @include bubble_inner;
  width: 100%;
  padding: 5px 5px 0 5px;
//  margin-top: 10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      border-radius: 3px;
      margin-bottom: 5px;
      width: 100%;

      a {
        color: $fontColor;
        font-weight: bold;
        font-size: $bodyFontSize;
        text-decoration: none;
        vertical-align: middle;
        width: 100%;
        display: block;

        img {
          width: 15px;
          margin-left: -1px;
          padding: 5px;
          border-radius: 3px 0 0 3px;
          vertical-align: middle;
        }
      }

    }

    a:hover, a:active {
      background: $qdinkaBlue;
      border-radius: 3px;
      color: $backgroundColor;
    }
  }
}

.template-copyright {
  p {
    margin: 0;
    font-weight: bold;
    font-size: $bodySmallSize;
  }
}

.template-disclaimer {
  p {
    text-align: justify;
    font-size: 4pt;
  }
}
