/* 
    Created on : Oct 31, 2015, 3:22:28 PM
    Author     : Nannalin
*/

.buyer-content-wrapper {
    margin-bottom: 0;
}

.buyer-content-menu-wrapper {

    h2{
        @include box;
        width: 40%;
        float: left;
        font-size: $bodyHeadContentSize;
        color: #1C75BD;
        padding-left: 50px;
        margin-top: 10px; 
    }
}

.buyer-content-menu-wrapper:after {
    @include next_row;
}

.buyer-content-menu-detail {
    @include box;
    width: 60%;
    margin-top: 10px;
    padding-right: 20px;
    float: left;
    font-size: $bodySubHeaderSize; 
}

.head-activity {
    @include box;
    margin-top: 10px;
    float: left;
    font-size: $bodySubHeaderSize;
    font-weight: bold;
}

.subheader-nav {
    @include box;
    @include bubble_inner;
    @include horizontal-nav(10px, 50px, 10px, 100px, 15%);
    
    -webkit-padding-start: 0;
    background: none;
    margin-left: 50px;

    a {
        color: $qdinkaBlue; 
        font-size: $bodySubHeaderContentSize;
    }
}

.subheader-nav li a:hover {
    @include horizontal-nav-hover;
}

.subheader-nav li a:active {
    @include horizontal-nav-active;
}

