//Fonts
//@import url(http://fonts.googleapis.com/css?family=Domine|Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
@import "compass/css3";

//$headerFont: 'Domine', serif;
$headerFont: 'Enriqueta', serif;
//$bodyFont: 'Josefin Sans', sans-serif;
$bodyFont: 'Enriqueta', serif;

//Color Constants
$qdinkaBlue: #1C75BD;
$qdinkaPurple: #662d91;
$qdinkaRed: #971111;
$qdinkaGreen: #4DA838;
$qdinkaSafetyOrange: #FF6700;
$qdinkaGrey: #D1D1D1;
$fontColor: #717070;
$backgroundOffset: #f1f1f1;
$backgroundColor: #ffffff;
$lineColorDark: #666;
$lineColorLight: #e5e5e5;
$inputColor: #faffbd;
$colorTableHighlight: #2596D1;
$btnBackgroundPurple: #9370DB;
$btnBackgroundRed: #FF0000;
$btnBackgroundClearBlue: #99CCFF;
$lightGrey: #eee;
$mediumGrey: #ccc;
$darkGrey: #333;
$darkBlue: #191970;

//Font Sizes
$bodyFontSize: 10pt;
$bodyHeaderSize: 28pt;
$bodySubHeaderSize: 14pt;
$bodySmallSize: 8pt;
$bodyHeadContentSize: 22pt;
$bodySubHeaderContentSize: 12pt;

//Site Width
$siteWidth: 1300px;
$heightOrderedDetail: 200px;

//Utilities
@mixin box() {
    //Border boxes what ever you use it in.
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin next_row() {
    //Clears floats. To be used with ::after
    content: '';
    display: table;
    clear: both;
}

//Bubbles
@mixin bubble_outer($padding: 3px) {
    background: $backgroundOffset;
    border: 1px solid $lineColorLight;
    border-radius: 6px;
    padding: $padding;
    //  @include box-shadow(0 0 4px 1px rgba(0, 0, 0, 0.08));
}

@mixin bubble_inner() {
    background: $backgroundColor;
    border: 1px solid $lineColorLight;
    border-radius: 3px;
}

@mixin bubble() {
    background: $backgroundColor;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    @include box-shadow(0 0 4px 1px rgba(0, 0, 0, 0.08));
}

@mixin shadow_bubble() {
    border: 1px solid $lineColorLight;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

//Form Items
@mixin standard_input() {
    //height: 2em;
    border-radius: 3px;
    border: 1px solid $lineColorDark;
    //  background: $inputColor;
    color: $fontColor;
}

@mixin standard_button() {
    @include box-shadow(1px 1px 4px 1px rgba(0, 0, 0, 0.4));
    background: rgb(66, 156, 235);
    color: $backgroundColor;
    border: 0px solid rgb(28, 117, 189);
    cursor: pointer;
}

@mixin standard_checkbox() {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 0 5px 0;
}

@mixin horizontal-nav($marginTop, $marginRight, $marginBottom, $marginLeft, $widthPercent) {
    border-bottom: 1px solid $mediumGrey;
    margin: $marginTop $marginRight $marginBottom $marginLeft;
    border-top: 1px solid $mediumGrey ;
    height: 30px;
    background: $qdinkaBlue;
    
    li {
        width: $widthPercent;
        float:left;    
        list-style:none;  
        text-align:center;
        display: inline-block;
        border-right: 2px solid $lightGrey;
        padding: 0.1em 1.6em;        

    }

    /* remove the pipe from the last list item */
    li:last-child { border: 0; }

    a {
        color: $backgroundColor;
        padding:0;
        margin:0;
        font-size: $bodySubHeaderSize;
        text-align: center;
        font-weight: normal;
        text-decoration:none;
        display: inline-block;
    }
}

@mixin horizontal-nav-hover() {
    color: $mediumGrey; 
    text-decoration:none; 
}

@mixin horizontal-nav-active() {
    background-color: $backgroundColor;
    color: $qdinkaBlue; 
    text-decoration:none;    
}

@mixin orderedHeader($padLeft) {
    @include box;
    width: 25%;
    margin-top : 5px;
    padding-left: $padLeft;
    float: left;
}

@mixin orderedHeaderDetail() {
    color: $qdinkaBlue;
}

@mixin dashLine() {
    border: 0 none;
    border-top: 2px dashed $mediumGrey;
    background: none;
    margin: 5px 40px;    
}


