//Color Constants
$qdinkaBlue: #416ad2;
$qdinkaPurple: #662d91;
$fontColor: #6a6a6a;
$backgroundOffset: #f1f1f1;
$backgroundColor: #ffffff;
$lineColorDark: #666;
$lineColorLight: #e5e5e5;

//Font Sizes
$bodyFontSize: 10pt;
$bodyHeaderSize: 28pt;
$bodySubHeaderSize: 14pt;
$bodySmallSize: 8pt;

//Utilities
@mixin box() {
  //Border boxes what ever you use it in.
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin next_row() {
  //Clears floats. To be used with ::after
  content: '';
  display: table;
  clear: both;
}

//Bubbles
@mixin bubble_outer() {
  background: $backgroundOffset;
  border: 1px solid $lineColorLight;
  border-radius: 3px;
  padding: 10px;
}

@mixin bubble_inner() {
  background: $backgroundColor;
  border: 1px solid $lineColorLight;
  border-radius: 3px;
}

@mixin shadow_bubble() {
  border: 1px solid $lineColorLight;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}