//For the main layouts
@import "constants";

.front-page-header-wrapper {

  h1, h2 {
    text-align: center;
    margin: 0;
  }

  h1 {
    color: $qdinkaPurple;
  }
}

.front-page-section-wrapper {
  margin: 10px 0 0 0;
  overflow: hidden;

  h2 {
    margin: 0 0 10px 0;
    color: $qdinkaBlue;
  }

  .card-wrapper {
    @include box;
    width: 25%;
    float: left;
    padding-right: 10px;

    .card-content-wrapper {
      @include shadow_bubble;
      @include box;
      margin-bottom: 10px;

      .card-image {
        width: 100%;

        img {
          width: 100%;
          border-radius: 3px;
        }
      }

      .card-info {
        font-weight: bold;
        color: $qdinkaPurple;
        margin-top: 5px;

        .card-price {
          float: right;
        }
      }

      .card-info:after {
        @include next_row;
      }

    }
  }
}

.cart-page-header-wrapper {

  h1, h2 {
    text-align: center;
    margin: 0;
  }

  h1 {
    color: $qdinkaPurple;
  }
}

.cart-page-section-wrapper {
  margin: 10px 0 0 0;
  overflow: hidden;

  h2 {
    margin: 0 0 10px 0;
    color: $qdinkaBlue;
  }

  .cart-card-wrapper {
    @include box;
    width: 25%;
    float: left;
    padding-right: 10px;

    .cart-card-content-wrapper {
      @include shadow_bubble;
      @include box;
      margin-bottom: 10px;

      .card-image {
        width: 100%;

        img {
          width: 100%;
          border-radius: 3px;
        }
      }

      .card-info {
        font-weight: bold;
        color: $qdinkaPurple;
        margin-top: 5px;

        .card-price {
          float: right;
        }
      }

      .card-info:after {
        @include next_row;
      }

    }
  }
}

.front-page-contributors-wrapper {
  @include box;
  @include bubble;
  margin-top: 10px;

  hr {
    width: 90%;
    margin: 0 auto 0 auto;
  }
}

.contributor-header-top {
  @include box;
  background: $qdinkaBlue;
  width: 100%;
  padding: 10px;

  h2 {
    color: $backgroundColor;
    text-align: center;
    margin: 0;
  }
}

.contributor-header-sub {
  margin-top: 10px;

  h3 {
    color: $fontColor;
    text-align: center;
    margin: 0;
  }
}

.contributor-card-wrapper {
  @include box;
  width: 100%;
  padding: 5px;
}

.contributor-card {
  @include box;
  @include bubble;
  padding: 5px;
  margin-top: 5px;

  a {
    text-decoration: none;
    color: $qdinkaBlue;
  }
}

//Main header
.top-header {
  @include box;
  background: $backgroundColor;
  padding: 5px;

  h3 {
    margin: 0;

    u {
      color: $qdinkaBlue;
    }
  }
}