@import "constants";

//Tags
h1 {
  margin: 0;
}

//Bubbles
.bubble-wrapper {
  @include box;
  @include bubble_outer;
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -300px;
}

.bubble-content {
  @include box;
  @include next_row;
  @include bubble_inner;
  padding: 3px;
  overflow: hidden;
}

.bubble-image-wrapper {
  width: 20%;
  float: left;
}

.bubble-wording-wrapper {
  width: 80%;
  float: left;
  font-size: $bodySubHeaderSize;
  font-weight: bold;
}