@import "constants";

//Contributors
.front-page-contributors-wrapper {
  @include box;
  @include bubble;
  margin-top: 10px;

  hr {
    width: 90%;
    margin: 0 auto 0 auto;
  }
}

.contributor-header-top {
  @include box;
  background: $qdinkaBlue;
  width: 100%;
  padding: 10px;

  h2 {
    color: $backgroundColor;
    text-align: center;
    margin: 0;
  }
}

.contributor-header-sub {
  margin-top: 10px;

  h3 {
    color: $fontColor;
    text-align: center;
    margin: 0;
  }
}

.contributor-card-wrapper {
  @include box;
  width: 100%;
  padding: 5px;
}

.contributor-card {
  @include box;
  @include bubble;
  padding: 5px;
  margin-top: 5px;

  a {
    text-decoration: none;
    color: $qdinkaBlue;
  }
}

.top-header {
  @include box;
  background: $backgroundColor;
  padding: 5px;
  flex: 0 0 auto;

  h3 {
    margin: 0;

    span {
      color: $qdinkaBlue;
      text-decoration: underline;
    }
  }
}

//Images area
.row-one-wrapper {
  display: flex;
  align-content: stretch;
  width: 100%;
  margin-top: 5px;
  height: 540px;
  flex: 0 0 auto;
}

.images-wrapper {
  @include box;
  width: 605px;
  padding-right: 5px;
  flex: 0 0 auto;
  //float: left;
}

.images-content {
  @include bubble;

  img {
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 450px;
  }
}

.images-slide-wrapper {
  text-align: center;
}

.images-slide-content {
  display: inline-block;

  img {
    width: 100px;
    height: 75px;
    border-radius: 0;
  }
}

//Overview area
.overview-wrapper {
  @include bubble;
  @include box;
  width: 380px;
  //float: right;
  padding: 5px;
  flex: 0 0 auto;
  margin-bottom: 7px;

  h2 {
    margin: 0;
  }
}

.overview-content-wrapper {
  height: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overview-vendor {
  a {
    color: $qdinkaBlue;
  }
}

.overview-rating-wrapper {
  flex: 0 0 auto;
  img {
    width: 10px;
  }

  a {
    color: $qdinkaBlue;
  }
}

.overview-price-wrapper {
  flex: 0 0 auto;
  width: 100%;
}

.overview-price-wrapper:after {
  @include next_row;
}

.overview-price-col-left {
  width: 50%;
  float: left;
}

.overview-price-col-right {
  padding: 10px 0;
  width: 50%;
  float: right;
  text-align: center;
  @include box;

  a {
    font-size: 16px;
    color: $backgroundColor;
    display: inline-block;
    width: 100%;
    background-color: $qdinkaGrey;
  }

  a:hover {
    background-color: $qdinkaBlue;
  }
}

.overview-price {
  font-size: 30px;
  font-weight: bold;
}

.overview-currency {
  font-size: 13px;
  color: $qdinkaBlue;
}

.overview-stock {
  color: $qdinkaGreen;
  font-weight: bold;
}

.overview-condition {
  color: $qdinkaRed;
  font-weight: bold;
}

.overview-options-wrapper {
  @include box;
  width: 100%;
  flex: 0 0 auto;
}

.overview-options-wrapper::after {
  @include next_row;
}

.overview-option-col-left {
  float: left;
  width: 50%;

  input, select {
    @include standard_input;
    max-width: 100px;
    margin-bottom: 5px;
  }
}

.overview-option-col-right {
  float: right;
  width: 50%;

  input, select {
    @include standard_input;
    max-width: 100px;
    margin-bottom: 5px;
  }
}

.overview-overview-wrapper {
  //margin-bottom: 5px;
  flex: 0 0 auto;
  //height: 125px;
  overflow-y: auto;

  h3,ul {
    margin: 0;
  }
}

.overview-cart-wrapper {
  flex: 1 0 auto;
  @include standard_button;
  width: 100%;
  font-size: 25px;
  padding: 0;
  line-height: 51px;
  font-family: $bodyFont;
}

.overview-cart-wrapper:hover {
  background-color: $qdinkaBlue;
}

//Product description area
.product-description-wrapper {
  @include bubble;
  @include box;
  padding: 5px;
  flex: 1 1 auto;

  h2 {
    margin: 0;
  }
}

//Row Two
.detail-row {
  width: 100%;
  margin-top: 10px;
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
}

.detail-left-wrapper {
  @include bubble;
  @include box;
  padding: 5px;
  flex: 1 1 auto;
  margin-right: 0.5em;

  h2 {
    margin: 0;
  }

  p {
    margin: 5px 0 5px 25px;
  }
}

.detail-title {
  font-weight: bold;
}

.detail-right-wrapper {
  @include bubble;
  @include box;
  padding: 5px;
  flex: 1 1 auto;

  h2, ul {
    margin: 0;
  }
}

//Question and answer area
.QandA-wrapper {
  @include bubble;
  @include box;
  margin-top: 10px;
  padding: 5px;
  flex: 1 1 auto;
}

.QandA-header-wrapper {

}

.QandA-header-wrapper:after {
  @include next_row;
}

.QandA-header-title {
  float: left;

  h2 {
    margin: 0;
  }
}

.QandA-header-ask {
  @include box-shadow(0 0 4px 1px rgba(0, 0, 0, 0.08));
  float: right;
  background-color: #F3F3F3;
  display: block;
  border: 1px solid grey;
  border-radius: 6px;

  input[type="text"] {
    background: none;
    border: none;
    width: 400px;
    padding: 5px;
  }

  input[type="submit"] {
    border: none;
    background-color: $qdinkaBlue;
    color: $backgroundColor;
    padding: 5px;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    margin-right: -2px;
  }
}

.QandA-answer-wrapper {
  margin-top: 5px;

  h3 {
    margin: 0;
  }

  p {
    margin: 0 0 0 25px;
  }
}

.QandA-question {
  color: $qdinkaBlue;
}

.QandA-answer {
  color: $qdinkaGreen;
}

.QandA-user {
  color: $qdinkaGrey;
  margin-left: 50px;
}

.QandA-more {
  color: $qdinkaBlue;
  margin-left: 25px;
}

//Review area
.review-wrapper {
  @include box;
  @include bubble;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  flex: 1 1 auto;
}

.review-header-wrapper {
  width: 100%;
  @include box;
}

.review-header-wrapper:after {
  @include next_row;
}

.review-header-left-col {
  @include box;
  padding: 5px 0;
  width: 66%;
  float: left;

  h2 {
    margin: 0;

    img {
      width: 14px;
    }

    span {
      font-size: 10pt;
      color: $qdinkaBlue;
    }
  }
}

.review-header-right-col {
  @include box;
  padding: 5px 0;
  width: 33%;
  float: right;
  text-align: center;

  a {
    @include standard_button;
    font-size: 14pt;
    padding: 5px;
  }

  a:hover {
    background: $qdinkaBlue;
  }
}

.review-personal-header {

  h3 {
    margin: 0;

    img {
      width: 10px;
    }
  }
}

.review-author-header {
  a {
    color: $qdinkaBlue;
  }
}

.review-question-header {
  color: $qdinkaBlue;

  a {
    @include standard_button;
    padding: 0 10px;
  }

  a:hover {
    background: $qdinkaBlue;
  }
}

.review-footer {
  margin-top: 25px;
  font-size: 14pt;
}

.review-see-more {
  color: $qdinkaBlue;
}

.review-write {
  @include standard_button;
  padding: 0 50px;
}

.review-write:hover {
  background: $qdinkaBlue;
}

//Side Bar
.also-sold-wrapper {
  @include box;
  @include bubble;
  margin-top: 0.5rem;
  padding: 0.5rem;

  h2 {
    color: $qdinkaBlue;
    margin: 0;
    text-align: center;
  }

  h3 a {
    color: $qdinkaBlue;
    margin: 0;
  }

  > img {
    width: 100%;
    height: 150px;
  }
}

.also-sold-by-wrapper {
  font-weight: bold;
  margin-bottom: 0.5em;

  img {
    width: 10pt;
  }
}

.also-sold-by-wrapper:after {
  @include next_row;
}

.also-sold-by-left {
  @include box;
  width: 50%;
  //padding: 0.5em;
  float: left;
}

.also-sold-by-right {
  @include box;
  width: 50%;
  //padding: 0.5em;
  float: right;
  text-align: right;
}

.also-sold-by-cart-wrapper:after {
  @include next_row;
}

.also-sold-by-cart-left {
  @include box;
  width: 50%;
  float: left;

  input {
    @include standard_button;
    font-family: inherit;
  }

  input:hover {
    color: $qdinkaBlue;
    background: $qdinkaGrey;
  }
}

.also-sold-by-cart-right {
  @include box;
  width: 50%;
  float: right;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  color: $qdinkaRed;
}