@import url(http://fonts.googleapis.com/css?family=Domine|Josefin+Sans);
/* line 4, ../sass/admin.scss */
.pagination-links {
  border-radius: 3px;
  background: #416ad2;
  color: #ffffff;
  border: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 10, ../sass/admin.scss */
.pagination-links li {
  display: inline;
  font-size: 14pt;
}
/* line 14, ../sass/admin.scss */
.pagination-links li a {
  color: #ffffff;
  margin: 0 10px;
}

/* line 22, ../sass/admin.scss */
.active a {
  color: #FF6700 !important;
}

/* line 28, ../sass/admin.scss */
.disabled a {
  color: #6a6a6a !important;
}

/* line 33, ../sass/admin.scss */
.admin-page-wrapper {
  margin-top: 10px;
}

/* line 38, ../sass/admin.scss */
table {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 3px;
  width: 100%;
  margin-top: 5px;
  border-spacing: 0;
}
/* line 46, ../sass/admin.scss */
table thead tr td {
  font-weight: bold;
  padding: 5px 0 5px 5px;
}
/* line 53, ../sass/admin.scss */
table tbody {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
/* line 58, ../sass/admin.scss */
table tbody tr td {
  padding: 5px 0 5px 5px;
}
/* line 61, ../sass/admin.scss */
table tbody tr a {
  font-weight: bold;
  color: #6a6a6a;
}
/* line 66, ../sass/admin.scss */
table tbody tr a:hover {
  color: #416ad2;
}
/* line 71, ../sass/admin.scss */
table tbody tr:nth-of-type(even) {
  background: #2596D1;
}

/* line 78, ../sass/admin.scss */
.admin-user-wrapper {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  margin: auto;
}
/* line 84, ../sass/admin.scss */
.admin-user-wrapper h1 {
  margin: 0;
}
/* line 88, ../sass/admin.scss */
.admin-user-wrapper input[type=submit] {
  border-radius: 3px;
  background: #416ad2;
  color: #ffffff;
  border: none;
}

/* line 93, ../sass/admin.scss */
.user-admin-content {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 5px 0 5px;
}
/* line 98, ../sass/admin.scss */
.user-admin-content input {
  height: 2em;
  border-radius: 3px;
  border: 1px solid #666;
  color: #6a6a6a;
  width: 100%;
  margin-bottom: 5px;
}
