@import url(http://fonts.googleapis.com/css?family=Domine|Josefin+Sans);
/* line 4, ../sass/admin.scss */
.pagination-links {
  border-radius: 3px;
  background: #416ad2;
  color: #ffffff;
  border: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 10, ../sass/admin.scss */
.pagination-links li {
  display: inline;
  font-size: 14pt;
}
/* line 14, ../sass/admin.scss */
.pagination-links li a {
  color: #ffffff;
  margin: 0 10px;
}

/* line 22, ../sass/admin.scss */
.active a {
  color: #FF6700 !important;
}

/* line 28, ../sass/admin.scss */
.disabled a {
  color: #6a6a6a !important;
}

/* line 33, ../sass/admin.scss */
.admin-page-wrapper {
  margin-top: 10px;
}

/* line 38, ../sass/admin.scss */
table {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 3px;
  width: 100%;
  margin-top: 5px;
  border-spacing: 0;
}
/* line 46, ../sass/admin.scss */
table thead tr td {
  font-weight: bold;
}
/* line 52, ../sass/admin.scss */
table tbody {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
/* line 56, ../sass/admin.scss */
table tbody tr a {
  font-weight: bold;
  color: #6a6a6a;
}
/* line 61, ../sass/admin.scss */
table tbody tr a:hover {
  color: #416ad2;
}
/* line 66, ../sass/admin.scss */
table tbody tr:nth-of-type(even) {
  background: #2596D1;
}
