@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
/* line 4, ../sass/base.scss */
html {
  background-color: #f3f3f3;
  background-image: url("/images/background.00_png_srz");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

/* line 12, ../sass/base.scss */
body {
  margin: 0;
  font-family: inherit;
}

/* line 17, ../sass/base.scss */
:root {
  font-family: "Enriqueta", serif;
  color: #717070;
  font-size: 10pt;
}

/* line 23, ../sass/base.scss */
h1 {
  font-size: 28pt;
  font-weight: bold;
  font-family: "Enriqueta", serif;
}

/* line 29, ../sass/base.scss */
h2 {
  font-size: 14pt;
  font-weight: bold;
  font-family: "Enriqueta", serif;
}

/* line 35, ../sass/base.scss */
h3 {
  font-size: 10pt;
  font-weight: bold;
  font-family: "Enriqueta", serif;
}

/* line 41, ../sass/base.scss */
a {
  text-decoration: none;
}

/* line 45, ../sass/base.scss */
hr {
  border: none;
  height: 1px;
  background: #1C75BD;
}

/* line 51, ../sass/base.scss */
.dashed-hr {
  border-bottom: 1px dashed #1C75BD;
  height: 1px;
  background: none;
}

/* line 58, ../sass/base.scss */
.template-header-wrapper {
  width: 1310px;
  margin: auto;
}

/* line 63, ../sass/base.scss */
.template-header-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 67, ../sass/base.scss */
.template-logo-wrapper {
  width: 300px;
  float: left;
  margin-top: 6px;
}

/* line 73, ../sass/base.scss */
.template-search-bar-wrapper {
  width: 600px;
  float: left;
  margin-top: 14px;
}
/* line 78, ../sass/base.scss */
.template-search-bar-wrapper form {
  border: 1px solid #666;
  border-radius: 3px;
  background: #1C75BD;
}
/* line 84, ../sass/base.scss */
.template-search-bar-wrapper input[type='text'] {
  color: #717070;
  font-size: 14pt;
  background: #ffffff;
  border: none;
  border-radius: 3px 0 0 3px;
  vertical-align: middle;
  padding: 5px;
  width: 553px;
}
/* line 95, ../sass/base.scss */
.template-search-bar-wrapper input[type='text']:focus {
  outline: none;
}
/* line 99, ../sass/base.scss */
.template-search-bar-wrapper input[type='image'] {
  width: 15px;
  vertical-align: middle;
  border-radius: 0 3px 3px 0;
  padding: 6px 10px 7px 10px;
  margin-left: -5px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* line 111, ../sass/base.scss */
.template-header-menu {
  float: right;
  width: auto;
}
/* line 115, ../sass/base.scss */
.template-header-menu ul {
  list-style-type: none;
  margin-right: 10px;
  padding: 0;
  border-radius: 3px;
}
/* line 121, ../sass/base.scss */
.template-header-menu ul li {
  display: inline;
}
/* line 124, ../sass/base.scss */
.template-header-menu ul li a {
  font-size: 15px;
  color: #1C75BD;
  font-weight: bold;
}
/* line 129, ../sass/base.scss */
.template-header-menu ul li a img {
  width: 35px;
  vertical-align: middle;
}

/* line 141, ../sass/base.scss */
.template-wrapper {
  content: '';
  display: table;
  clear: both;
  overflow: hidden;
  width: 1300px;
  margin: 0 auto;
}

/* line 148, ../sass/base.scss */
.template-side-menu-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  padding-left: 5px;
  float: left;
}

/* line 155, ../sass/base.scss */
.template-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin-left: 305px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

/* line 164, ../sass/base.scss */
.template-side-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-right: 5px;
}
/* line 169, ../sass/base.scss */
.template-side-menu h3 {
  margin: 0;
  color: #662d91;
}

/* line 175, ../sass/base.scss */
.menu-top {
  background: #1C75BD;
  width: 100%;
  text-align: center;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 182, ../sass/base.scss */
.menu-top a {
  color: #ffffff;
  text-decoration: none;
}

/* line 188, ../sass/base.scss */
.menu-break {
  background: #1C75BD;
  width: 90%;
  margin: 0 auto;
}

/* line 194, ../sass/base.scss */
.template-side-menu-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-top: 5px;
}
/* line 200, ../sass/base.scss */
.template-side-menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 205, ../sass/base.scss */
.template-side-menu-content ul li {
  text-align: center;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 211, ../sass/base.scss */
.template-side-menu-content ul li a {
  color: #1C75BD;
  font-weight: bold;
  font-size: 10pt;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  display: block;
}
/* line 223, ../sass/base.scss */
.template-side-menu-content ul li:hover {
  background: #1C75BD;
}
/* line 225, ../sass/base.scss */
.template-side-menu-content ul li:hover a {
  color: #ffffff;
}

/* line 232, ../sass/base.scss */
.menu-highlight {
  background: #1C75BD;
}
/* line 234, ../sass/base.scss */
.menu-highlight a {
  color: #ffffff !important;
}

/* line 240, ../sass/base.scss */
.template-copyright p {
  margin: 0;
  font-weight: bold;
  font-size: 8pt;
}

/* line 248, ../sass/base.scss */
.template-disclaimer p {
  text-align: justify;
  font-size: 4pt;
}

/* line 255, ../sass/base.scss */
.error-wrapper {
  margin-left: 305px;
}
/* line 258, ../sass/base.scss */
.error-wrapper h1, .error-wrapper h2 {
  margin: 0;
}

/* line 264, ../sass/base.scss */
.warning {
  color: #FF6700 !important;
}

/* line 269, ../sass/base.scss */
footer {
  background: #ffffff;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 5px;
}

/* line 278, ../sass/base.scss */
.template-footer-wrapper {
  width: 1300px;
  margin: auto;
}

/* line 283, ../sass/base.scss */
.template-footer-menu-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
}
/* line 288, ../sass/base.scss */
.template-footer-menu-wrapper .menu-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66%;
  float: left;
  text-align: center;
}
/* line 294, ../sass/base.scss */
.template-footer-menu-wrapper .menu-item a {
  text-decoration: none;
  color: #1C75BD;
  font-weight: bold;
}
/* line 301, ../sass/base.scss */
.template-footer-menu-wrapper .menu-item:after {
  content: '';
  display: table;
  clear: both;
}
/* line 305, ../sass/base.scss */
.template-footer-menu-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 310, ../sass/base.scss */
.template-footer-menu-wrapper ul li {
  display: inline;
}

/* line 317, ../sass/base.scss */
.template-footer-content-wrapper {
  width: 100%;
}
/* line 320, ../sass/base.scss */
.template-footer-content-wrapper .footer-image-wrapper, .template-footer-content-wrapper .footer-social-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 19%;
  float: left;
}
/* line 325, ../sass/base.scss */
.template-footer-content-wrapper .footer-image-wrapper .footer-image, .template-footer-content-wrapper .footer-social-wrapper .footer-image {
  width: 112px;
}
/* line 329, ../sass/base.scss */
.template-footer-content-wrapper .footer-image-wrapper .social-image, .template-footer-content-wrapper .footer-social-wrapper .social-image {
  width: 30px;
  float: right;
}
/* line 335, ../sass/base.scss */
.template-footer-content-wrapper .footer-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 62%;
  float: left;
}

/* line 342, ../sass/base.scss */
.template-footer-content-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 347, ../sass/base.scss */
.generic-bubble-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
}
/* line 352, ../sass/base.scss */
.generic-bubble-wrapper hr {
  width: 90%;
  margin: 0 auto 0 auto;
}

/* line 358, ../sass/base.scss */
.generic-bubble-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #1C75BD;
  width: 100%;
  padding: 10px;
}
/* line 364, ../sass/base.scss */
.generic-bubble-header h2 {
  color: #ffffff;
  text-align: center;
  margin: 0;
}
