/* line 4, ../sass/base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #6a6a6a;
  font-size: 10pt;
}

/* line 11, ../sass/base.scss */
h1 {
  font-size: 28pt;
  font-weight: bold;
}

/* line 16, ../sass/base.scss */
h2 {
  font-size: 14pt;
  font-weight: bold;
}

/* line 21, ../sass/base.scss */
h3 {
  font-size: 10pt;
  font-weight: bold;
}

/* line 26, ../sass/base.scss */
a {
  text-decoration: none;
}

/* line 31, ../sass/base.scss */
.template-header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
  z-index: 1000;
}

/* line 42, ../sass/base.scss */
.template-header-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 46, ../sass/base.scss */
.template-logo-wrapper {
  width: 300px;
  float: left;
  margin-top: 6px;
}

/* line 52, ../sass/base.scss */
.template-search-bar-wrapper {
  width: 600px;
  float: left;
  margin-top: 14px;
}
/* line 57, ../sass/base.scss */
.template-search-bar-wrapper form {
  border: 1px solid #666;
  border-radius: 3px;
}
/* line 62, ../sass/base.scss */
.template-search-bar-wrapper input[type='text'] {
  color: #6a6a6a;
  font-size: 14pt;
  background: #ffffff;
  border: none;
  border-radius: 3px 0 0 3px;
  vertical-align: middle;
  padding: 5px;
  width: 553px;
}
/* line 73, ../sass/base.scss */
.template-search-bar-wrapper input[type='text']:focus {
  outline: none;
}
/* line 77, ../sass/base.scss */
.template-search-bar-wrapper input[type='image'] {
  width: 15px;
  vertical-align: middle;
  border-radius: 0 3px 3px 0;
  padding: 6px 10px 7px 10px;
  margin-left: -5px;
}

/* line 87, ../sass/base.scss */
.template-search-bar-wrapper:hover {
  background: #416ad2;
  border-radius: 3px;
}
/* line 91, ../sass/base.scss */
.template-search-bar-wrapper:hover input[type='image'] {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* line 97, ../sass/base.scss */
.template-header-menu {
  float: right;
  width: auto;
}
/* line 101, ../sass/base.scss */
.template-header-menu ul {
  list-style-type: none;
  margin-right: 10px;
  padding: 0;
  border-radius: 3px;
}
/* line 107, ../sass/base.scss */
.template-header-menu ul li {
  display: inline;
}
/* line 112, ../sass/base.scss */
.template-header-menu ul li a img {
  width: 20px;
  padding: 5px 15px;
}

/* line 124, ../sass/base.scss */
.template-wrapper {
  content: '';
  display: table;
  clear: both;
  overflow: hidden;
  width: 100%;
  margin-top: 75px;
}

/* line 131, ../sass/base.scss */
.template-side-menu-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  padding-left: 5px;
  position: fixed;
}

/* line 139, ../sass/base.scss */
.template-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}

/* line 146, ../sass/base.scss */
.template-side-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 3px 3px 0 3px;
  width: 100%;
  margin-top: 10px;
}
/* line 152, ../sass/base.scss */
.template-side-menu h3 {
  margin: 0;
  color: #662d91;
}

/* line 158, ../sass/base.scss */
.template-side-menu-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 100%;
  padding: 5px 5px 0 5px;
  margin-bottom: 3px;
}
/* line 165, ../sass/base.scss */
.template-side-menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 170, ../sass/base.scss */
.template-side-menu-content ul li {
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
}
/* line 175, ../sass/base.scss */
.template-side-menu-content ul li a {
  color: #6a6a6a;
  font-weight: bold;
  font-size: 10pt;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  display: block;
}
/* line 184, ../sass/base.scss */
.template-side-menu-content ul li a img {
  width: 15px;
  margin-left: -1px;
  padding: 5px;
  border-radius: 3px 0 0 3px;
  vertical-align: middle;
}
/* line 195, ../sass/base.scss */
.template-side-menu-content ul a:hover, .template-side-menu-content ul a:active {
  background: #416ad2;
  border-radius: 3px;
  color: #ffffff;
}
/* line 200, ../sass/base.scss */
.template-side-menu-content ul a:hover img, .template-side-menu-content ul a:active img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* line 209, ../sass/base.scss */
.template-copyright p {
  margin: 0;
  font-weight: bold;
  font-size: 8pt;
}

/* line 217, ../sass/base.scss */
.template-disclaimer p {
  text-align: justify;
  font-size: 4pt;
}
