/**
* Nannalin Higgins
* Created on : Sep 13, 2015, 2:47:18 PM
* @email nannalin14@gmail.com
*/
@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
.template-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin-left: 120px;
  margin-right: 120px;
  min-height: 90vh; }

.buyer-top-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 40px;
  background: #ffffff;
  height: 32px;
  width: 100%; }
  .buyer-top-header p {
    margin-top: 5px;
    width: 88%;
    float: left;
    font-size: 13pt; }
    .buyer-top-header p u {
      color: #1C75BD; }

.buyer-top-header:after {
  content: '';
  display: table;
  clear: both; }

.upgrade-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 12%;
  float: right;
  padding: 6px 10px;
  text-align: center;
  background: #9999CC; }
  .upgrade-button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12pt; }

.buyer-profile-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  width: 100%;
  height: 140px; }

.buyer-image-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  float: left;
  padding-top: 8px;
  padding-left: 10px; }
  .buyer-image-wrapper img {
    width: 80%; }

.buyer-profile-detail-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 55%;
  float: left;
  font-size: 14pt; }
  .buyer-profile-detail-wrapper h2 {
    color: #1C75BD;
    margin: 0;
    font-size: 28pt; }

.buyerName a, #totPurchase, #completeReviews {
  color: #1C75BD; }

.buyer-button-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 10px;
  width: 30%;
  float: right;
  font-size: 14pt; }

.buyer-button-wrapper:after {
  content: '';
  display: table;
  clear: both; }

.shop-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 0px 20px 0px;
  padding: 10px 20px;
  background: #FF0000;
  text-align: center; }
  .shop-button a {
    color: #ffffff;
    font-size: 14pt; }

.listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  background: #1C75BD;
  text-align: center; }
  .listing-button a {
    color: #ffffff;
    font-size: 14pt; }

.buyer-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  width: 100%; }

.buyer-nav {
  border-bottom: 1px solid #ccc;
  margin: 0 0 0 0;
  border-top: 1px solid #ccc;
  height: 30px;
  background: #1C75BD;
  /* remove the pipe from the last list item */
  -webkit-padding-start: 0; }
  .buyer-nav li {
    width: 11%;
    float: left;
    list-style: none;
    text-align: center;
    display: inline-block;
    border-right: 2px solid #eee;
    padding: 0.1em 1.6em; }
  .buyer-nav li:last-child {
    border: 0; }
  .buyer-nav a {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 14pt;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: inline-block; }
  .buyer-nav .buyer-nav-list-manage-account {
    width: 19%; }

.buyer-nav:after {
  content: '';
  display: table;
  clear: both; }

.buyer-nav-list a:hover {
  color: #ccc;
  text-decoration: none; }

.buyer-nav-list-manage-account a:hover {
  color: #ccc;
  text-decoration: none; }

.buyer-nav-list a:active {
  background-color: #ffffff;
  color: #1C75BD;
  text-decoration: none; }

.buyer-nav-list-manage-account a:active {
  background-color: #ffffff;
  color: #1C75BD;
  text-decoration: none; }

/**
* Nannalin Higgins
* Created on : Sep 16, 2015, 4:00 PM
* @email nannalin14@gmail.com
*/
.new-listing-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 10px 125px;
  height: 250px; }

.new-listing-wrapper:after {
  content: '';
  display: table;
  clear: both; }

.communicate-wrapper:after {
  content: '';
  display: table;
  clear: both; }

.new-listing-wrapper-content {
  padding-top: 10px;
  width: 60%;
  float: left; }
  .new-listing-wrapper-content h2 {
    font-size: 22pt;
    color: #1C75BD;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 50px; }

.new-listing-wrapper-content-detail, .communicate-wrapper-content-detail {
  font-size: 12pt;
  padding: 10px 50px 0px 50px; }

.new-listing-wrapper-content-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 50px;
  float: left; }

.follow-listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  padding: 10px 100px;
  background: #99CCFF;
  text-align: center; }
  .follow-listing-button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14pt; }

.new-listing-wrapper-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  float: left;
  padding-top: 8px;
  padding-left: 40px; }
  .new-listing-wrapper-image img {
    width: 94%; }

.communicate-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 10px 125px;
  height: 180px; }

.communicate-wrapper-content {
  padding-top: 10px;
  width: 70%;
  float: left; }
  .communicate-wrapper-content h2 {
    font-size: 22pt;
    color: #1C75BD;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 50px; }

.communicate-wrapper-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: left;
  padding-top: 5px;
  padding-left: 50px; }

.communicate-wrapper-content-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 65px;
  float: right; }

.open-message-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  padding: 10px 100px;
  background: #1C75BD;
  text-align: center; }
  .open-message-button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14pt; }

/* 
    Created on : Oct 31, 2015, 3:22:28 PM
    Author     : Nannalin
*/
.buyer-content-wrapper {
  margin-bottom: 0; }

.buyer-content-menu-wrapper h2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  float: left;
  font-size: 22pt;
  color: #1C75BD;
  padding-left: 50px;
  margin-top: 10px; }

.buyer-content-menu-wrapper:after {
  content: '';
  display: table;
  clear: both; }

.buyer-content-menu-detail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  margin-top: 10px;
  padding-right: 20px;
  float: left;
  font-size: 14pt; }

.head-activity {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  float: left;
  font-size: 14pt;
  font-weight: bold; }

.subheader-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  margin: 10px 50px 10px 100px;
  border-top: 1px solid #ccc;
  height: 30px;
  background: #1C75BD;
  /* remove the pipe from the last list item */
  -webkit-padding-start: 0;
  background: none;
  margin-left: 50px; }
  .subheader-nav li {
    width: 15%;
    float: left;
    list-style: none;
    text-align: center;
    display: inline-block;
    border-right: 2px solid #eee;
    padding: 0.1em 1.6em; }
  .subheader-nav li:last-child {
    border: 0; }
  .subheader-nav a {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 14pt;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: inline-block; }
  .subheader-nav a {
    color: #1C75BD;
    font-size: 12pt; }

.subheader-nav li a:hover {
  color: #ccc;
  text-decoration: none; }

.subheader-nav li a:active {
  background-color: #ffffff;
  color: #1C75BD;
  text-decoration: none; }

.buyer-content-wrapper {
  height: 700pt; }

.personalInfo {
  background: #1C75BD; }
  .personalInfo a {
    color: white;
    padding-bottom: 5px; }

.buyer-content-manage-account {
  margin: 15px 20px; }

.buyer-content-review:after {
  content: '';
  display: table;
  clear: both; }

.manage-account-wrapper {
  margin-left: 30px; }
  .manage-account-wrapper form {
    height: none; }
  .manage-account-wrapper .subheader-form {
    padding-top: 10px;
    color: #1C75BD;
    font-size: 18pt; }

.left-manage-account-wrapper, .right-manage-content-wrapper, .full-manage-content-wrapper, .sub-manage-content-wrapper {
  width: 50%;
  float: left; }
  .left-manage-account-wrapper label, .right-manage-content-wrapper label, .full-manage-content-wrapper label, .sub-manage-content-wrapper label {
    width: 30%;
    margin-top: 20px;
    color: #1C75BD;
    font-size: 12pt;
    float: left; }
  .left-manage-account-wrapper input, .right-manage-content-wrapper input, .full-manage-content-wrapper input, .sub-manage-content-wrapper input {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
    height: 20pt;
    width: 55%;
    font-size: 12pt; }
  .left-manage-account-wrapper .form-detail, .right-manage-content-wrapper .form-detail, .full-manage-content-wrapper .form-detail, .sub-manage-content-wrapper .form-detail {
    width: 200pt;
    padding-left: 150px;
    padding-top: 10px; }

.full-manage-content-wrapper {
  width: 100%; }
  .full-manage-content-wrapper label {
    width: 20%; }
  .full-manage-content-wrapper input {
    width: 70%; }
  .full-manage-content-wrapper .form-detail {
    width: 70%;
    padding-left: 195px; }

.sub-manage-content-wrapper {
  padding-left: 195px; }

.phone-number-form {
  font-size: 12pt;
  color: #1C75BD; }

#phone-number-part1, #phone-number-part2 {
  width: 14%;
  text-align: center; }

#phone-number-part3 {
  width: 19%;
  text-align: center; }

.dash-line {
  border-bottom: 1px dashed #ccc;
  margin-right: 30px;
  padding: 20px 0; }

.dash-line:after {
  content: '';
  display: table;
  clear: both; }

.form-special-detail {
  font-family: "Enriqueta", serif;
  color: #717070;
  font-size: 10pt; }

#special-direction {
  height: 80pt; }

textarea {
  border-radius: 3px;
  border: 1px solid #666;
  color: #717070;
  border-color: #1C75BD;
  color: #1C75BD;
  font-size: 12pt;
  width: 54%;
  height: 70px;
  margin-top: 20px;
  margin-left: 145px; }

input[type='submit'] {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #429ceb;
  color: #ffffff;
  border: 0px solid #1c75bd;
  cursor: pointer;
  background: #1C75BD;
  margin-left: 145px;
  height: 40px; }

/*# sourceMappingURL=buyerManageAccountLayout.css.map */
