/**
* Nannalin Higgins
* Created on : Oct 4, 2015, 11.40 AM
* @email nannalin14@gmail.com
*/
/**
* Nannalin Higgins
* Created on : Sep 13, 2015, 2:47:18 PM
* @email nannalin14@gmail.com
*/
@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
/* line 10, ../sass/buyerHeader.scss */
.template-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin-left: 120px;
  margin-right: 120px;
  min-height: 100%;
}

/* line 19, ../sass/buyerHeader.scss */
.buyer-top-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 40px;
  background: #ffffff;
  height: 32px;
  width: 100%;
}
/* line 26, ../sass/buyerHeader.scss */
.buyer-top-header p {
  margin-top: 5px;
  width: 88%;
  float: left;
  font-size: 13pt;
}
/* line 32, ../sass/buyerHeader.scss */
.buyer-top-header p u {
  color: #1C75BD;
}

/* line 38, ../sass/buyerHeader.scss */
.buyer-top-header:after {
  content: '';
  display: table;
  clear: both;
}

/* line 42, ../sass/buyerHeader.scss */
.upgrade-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 12%;
  float: right;
  padding: 6px 10px;
  text-align: center;
  background: #9999CC;
}
/* line 50, ../sass/buyerHeader.scss */
.upgrade-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12pt;
}

/* line 58, ../sass/buyerHeader.scss */
.buyer-profile-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  width: 100%;
  height: 140px;
}

/* line 66, ../sass/buyerHeader.scss */
.buyer-image-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  float: left;
  padding-top: 8px;
  padding-left: 10px;
}
/* line 73, ../sass/buyerHeader.scss */
.buyer-image-wrapper img {
  width: 80%;
}

/* line 78, ../sass/buyerHeader.scss */
.buyer-profile-detail-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 55%;
  float: left;
  font-size: 14pt;
}
/* line 85, ../sass/buyerHeader.scss */
.buyer-profile-detail-wrapper h2 {
  color: #1C75BD;
  margin: 0;
  font-size: 28pt;
}

/* line 92, ../sass/buyerHeader.scss */
.buyerName a, #totPurchase, #completeReviews {
  color: #1C75BD;
}

/* line 96, ../sass/buyerHeader.scss */
.buyer-button-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 10px;
  width: 30%;
  float: right;
  font-size: 14pt;
}

/* line 105, ../sass/buyerHeader.scss */
.buyer-button-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 109, ../sass/buyerHeader.scss */
.shop-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 0px 20px 0px;
  padding: 10px 20px;
  background: #FF0000;
  text-align: center;
}
/* line 117, ../sass/buyerHeader.scss */
.shop-button a {
  color: #ffffff;
  font-size: 14pt;
}

/* line 123, ../sass/buyerHeader.scss */
.listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  background: #1C75BD;
  text-align: center;
}
/* line 130, ../sass/buyerHeader.scss */
.listing-button a {
  color: #ffffff;
  font-size: 14pt;
}

/* line 136, ../sass/buyerHeader.scss */
.buyer-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  width: 100%;
}

/* line 143, ../sass/buyerHeader.scss */
.buyer-nav {
  border-bottom: 1px solid #ccc;
  margin: 0 0 0 0;
  border-top: 1px solid #ccc;
  background: #1C75BD;
  /* remove the pipe from the last list item */
  -webkit-padding-start: 0;
}
/* line 123, ../sass/constants.scss */
.buyer-nav li {
  width: 11%;
  float: left;
  list-style: none;
  text-align: center;
  display: inline-block;
  border-right: 2px solid #eee;
  padding: 0.1em 1.6em;
}
/* line 135, ../sass/constants.scss */
.buyer-nav li:last-child {
  border: 0;
}
/* line 137, ../sass/constants.scss */
.buyer-nav a {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 14pt;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}
/* line 147, ../sass/buyerHeader.scss */
.buyer-nav .buyer-nav-list-manage-account {
  width: 19.6%;
}

/* line 152, ../sass/buyerHeader.scss */
.buyer-nav:after {
  content: '';
  display: table;
  clear: both;
}

/* line 156, ../sass/buyerHeader.scss */
.buyer-nav-list-home a:hover, .buyer-nav-list-orders a:hover, .buyer-nav-list-messages a:hover, .buyer-nav-list-favorites a:hover, .buyer-nav-list-reviews a:hover, .buyer-nav-list-manage-account a:hover {
  color: #ccc;
  text-decoration: none;
}

/* line 160, ../sass/buyerHeader.scss */
.buyer-nav-list-home a:active, .buyer-nav-list-orders a:active, .buyer-nav-list-messages a:active, .buyer-nav-list-favorites a:active, .buyer-nav-list-reviews a:active, .buyer-nav-list-manage-account a:active {
  color: #ccc;
  text-decoration: none;
}

/**
* Nannalin Higgins
* Created on : Sep 16, 2015, 4:00 PM
* @email nannalin14@gmail.com
*/
/* line 9, ../sass/buyerFooter.scss */
.new-listing-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 10px 125px;
}

/* line 15, ../sass/buyerFooter.scss */
.new-listing-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 19, ../sass/buyerFooter.scss */
.communicate-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 23, ../sass/buyerFooter.scss */
.new-listing-wrapper-content {
  padding-top: 10px;
  width: 60%;
  float: left;
}
/* line 28, ../sass/buyerFooter.scss */
.new-listing-wrapper-content h2 {
  font-size: 22pt;
  color: #1C75BD;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 50px;
}

/* line 37, ../sass/buyerFooter.scss */
.new-listing-wrapper-content-detail, .communicate-wrapper-content-detail {
  font-size: 12pt;
  padding: 10px 50px 0px 50px;
}

/* line 42, ../sass/buyerFooter.scss */
.new-listing-wrapper-content-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 50px;
  float: left;
}

/* line 49, ../sass/buyerFooter.scss */
.follow-listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  padding: 10px 100px;
  background: #99CCFF;
  text-align: center;
}
/* line 57, ../sass/buyerFooter.scss */
.follow-listing-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14pt;
}

/* line 64, ../sass/buyerFooter.scss */
.new-listing-wrapper-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  float: left;
  padding-top: 8px;
  padding-left: 40px;
}
/* line 71, ../sass/buyerFooter.scss */
.new-listing-wrapper-image img {
  width: 94%;
}

/* line 76, ../sass/buyerFooter.scss */
.communicate-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 10px 125px;
}

/* line 83, ../sass/buyerFooter.scss */
.communicate-wrapper-content {
  padding-top: 10px;
  width: 70%;
  float: left;
}
/* line 88, ../sass/buyerFooter.scss */
.communicate-wrapper-content h2 {
  font-size: 22pt;
  color: #1C75BD;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 50px;
}

/* line 97, ../sass/buyerFooter.scss */
.communicate-wrapper-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: left;
  padding-top: 5px;
  padding-left: 50px;
}

/* line 105, ../sass/buyerFooter.scss */
.communicate-wrapper-content-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 65px;
  float: right;
}

/* line 112, ../sass/buyerFooter.scss */
.open-message-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  padding: 10px 100px;
  background: #1C75BD;
  text-align: center;
}
/* line 120, ../sass/buyerFooter.scss */
.open-message-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14pt;
}

/* 
    Created on : Oct 31, 2015, 3:22:28 PM
    Author     : Nannalin
*/
/* line 8, ../sass/buyerManageAccountHeaderStyle.scss */
.template-content-wrapper {
  min-height: 100%;
}

/* line 12, ../sass/buyerManageAccountHeaderStyle.scss */
.buyer-content-wrapper {
  padding-bottom: 20px;
}

/* line 18, ../sass/buyerManageAccountHeaderStyle.scss */
.buyer-content-menu-wrapper h2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  float: left;
  font-size: 22pt;
  color: #1C75BD;
  padding-left: 50px;
  margin-top: 10px;
}

/* line 29, ../sass/buyerManageAccountHeaderStyle.scss */
.buyer-content-menu-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 33, ../sass/buyerManageAccountHeaderStyle.scss */
.buyer-content-menu-detail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  margin-top: 10px;
  padding-right: 20px;
  float: left;
  font-size: 14pt;
}

/* line 42, ../sass/buyerManageAccountHeaderStyle.scss */
.head-activity {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  float: left;
  font-size: 14pt;
  font-weight: bold;
}

/* line 50, ../sass/buyerManageAccountHeaderStyle.scss */
.subheader-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  margin: 10px 50px 10px 100px;
  border-top: 1px solid #ccc;
  background: #1C75BD;
  /* remove the pipe from the last list item */
  -webkit-padding-start: 0;
  background: none;
  margin-left: 50px;
}
/* line 123, ../sass/constants.scss */
.subheader-nav li {
  width: 15%;
  float: left;
  list-style: none;
  text-align: center;
  display: inline-block;
  border-right: 2px solid #eee;
  padding: 0.1em 1.6em;
}
/* line 135, ../sass/constants.scss */
.subheader-nav li:last-child {
  border: 0;
}
/* line 137, ../sass/constants.scss */
.subheader-nav a {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 14pt;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}
/* line 59, ../sass/buyerManageAccountHeaderStyle.scss */
.subheader-nav a {
  color: #1C75BD;
  font-size: 12pt;
}

/* line 65, ../sass/buyerManageAccountHeaderStyle.scss */
.subheader-nav li a:hover {
  color: #ccc;
  text-decoration: none;
}

/* line 69, ../sass/buyerManageAccountHeaderStyle.scss */
.subheader-nav li a:active {
  background-color: #ffffff;
  color: #1C75BD;
  text-decoration: none;
}

/* line 11, ../sass/buyerManageAccount.scss */
.personalInfo {
  background: #1C75BD;
}
/* line 14, ../sass/buyerManageAccount.scss */
.personalInfo a {
  color: white;
  padding-bottom: 5px;
}

/* line 20, ../sass/buyerManageAccount.scss */
.buyer-content-manage-account {
  margin: 15px 20px;
}

/* line 24, ../sass/buyerManageAccount.scss */
.buyer-content-review:after {
  content: '';
  display: table;
  clear: both;
}

/* line 28, ../sass/buyerManageAccount.scss */
.manage-account-wrapper {
  margin-left: 30px;
}
/* line 29, ../sass/buyerManageAccount.scss */
.manage-account-wrapper form {
  height: none;
}
/* line 34, ../sass/buyerManageAccount.scss */
.manage-account-wrapper .subheader-form {
  padding-top: 10px;
  color: #1C75BD;
  font-size: 18pt;
}

/* line 41, ../sass/buyerManageAccount.scss */
.left-manage-account-wrapper, .right-manage-content-wrapper, .full-manage-content-wrapper, .sub-manage-content-wrapper {
  width: 50%;
  float: left;
}
/* line 45, ../sass/buyerManageAccount.scss */
.left-manage-account-wrapper label, .right-manage-content-wrapper label, .full-manage-content-wrapper label, .sub-manage-content-wrapper label {
  width: 30%;
  margin-top: 20px;
  color: #1C75BD;
  font-size: 12pt;
  float: left;
}
/* line 53, ../sass/buyerManageAccount.scss */
.left-manage-account-wrapper input, .right-manage-content-wrapper input, .full-manage-content-wrapper input, .sub-manage-content-wrapper input {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  height: 20pt;
  width: 55%;
  font-size: 12pt;
}
/* line 60, ../sass/buyerManageAccount.scss */
.left-manage-account-wrapper .form-detail, .right-manage-content-wrapper .form-detail, .full-manage-content-wrapper .form-detail, .sub-manage-content-wrapper .form-detail {
  width: 200pt;
  padding-left: 150px;
  padding-top: 10px;
}

/* line 68, ../sass/buyerManageAccount.scss */
.full-manage-content-wrapper {
  width: 100%;
}
/* line 71, ../sass/buyerManageAccount.scss */
.full-manage-content-wrapper label {
  width: 20%;
}
/* line 75, ../sass/buyerManageAccount.scss */
.full-manage-content-wrapper input {
  width: 70%;
}
/* line 79, ../sass/buyerManageAccount.scss */
.full-manage-content-wrapper .form-detail {
  width: 70%;
  padding-left: 195px;
}

/* line 85, ../sass/buyerManageAccount.scss */
.sub-manage-content-wrapper {
  padding-left: 195px;
}

/* line 89, ../sass/buyerManageAccount.scss */
.phone-number-form {
  font-size: 12pt;
  color: #1C75BD;
}

/* line 94, ../sass/buyerManageAccount.scss */
#phone-number-part1, #phone-number-part2 {
  width: 14%;
  text-align: center;
}

/* line 99, ../sass/buyerManageAccount.scss */
#phone-number-part3 {
  width: 19%;
  text-align: center;
}

/* line 104, ../sass/buyerManageAccount.scss */
.dash-line {
  border-bottom: 1px dashed #ccc;
  margin-right: 30px;
  padding: 20px 0;
}

/* line 110, ../sass/buyerManageAccount.scss */
.dash-line:after {
  content: '';
  display: table;
  clear: both;
}

/* line 114, ../sass/buyerManageAccount.scss */
.form-special-detail {
  font-family: "Enriqueta", serif;
  color: #717070;
  font-size: 10pt;
}

/* line 120, ../sass/buyerManageAccount.scss */
#special-direction {
  height: 80pt;
}

/* line 124, ../sass/buyerManageAccount.scss */
textarea {
  border-radius: 3px;
  border: 1px solid #666;
  color: #717070;
  border-color: #1C75BD;
  color: #1C75BD;
  font-size: 12pt;
  width: 54%;
  height: 70px;
  margin-top: 20px;
  margin-left: 145px;
}

/* line 136, ../sass/buyerManageAccount.scss */
input[type='submit'] {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #429ceb;
  color: #ffffff;
  border: 0px solid #1c75bd;
  cursor: pointer;
  background: #1C75BD;
  margin-left: 145px;
  height: 40px;
}
