/**
* Nannalin Higgins
* Created on : Sep 2, 2015, 1:54:38 PM
* @email nannalin14@gmail.com
*/
/**
* Nannalin Higgins
* Created on : Sep 13, 2015, 2:47:18 PM
* @email nannalin14@gmail.com
*/
@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
/* line 10, ../sass/buyerHeader.scss */
.template-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin-left: 120px;
  margin-right: 120px;
  min-height: 90vh;
}

/* line 18, ../sass/buyerHeader.scss */
.buyer-top-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  margin-left: 170px;
  width: 84%;
}
/* line 24, ../sass/buyerHeader.scss */
.buyer-top-header h3 {
  padding-left: 5px;
  width: 70%;
  float: left;
}
/* line 29, ../sass/buyerHeader.scss */
.buyer-top-header h3 u {
  color: #1C75BD;
}

/* line 35, ../sass/buyerHeader.scss */
.buyer-top-header:after {
  content: '';
  display: table;
  clear: both;
}

/* line 39, ../sass/buyerHeader.scss */
.upgrade-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 10px;
  width: 15%;
  float: right;
  padding: 10px 10px;
  text-align: center;
  background: #9370DB;
}
/* line 48, ../sass/buyerHeader.scss */
.upgrade-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 10pt;
}

/* line 55, ../sass/buyerHeader.scss */
.buyer-profile-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  width: 100%;
  height: 140px;
}

/* line 63, ../sass/buyerHeader.scss */
.buyer-image-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  float: left;
  padding-top: 8px;
  padding-left: 10px;
}
/* line 70, ../sass/buyerHeader.scss */
.buyer-image-wrapper img {
  width: 80%;
}

/* line 75, ../sass/buyerHeader.scss */
.buyer-profile-detail-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 55%;
  float: left;
  font-size: 14pt;
}
/* line 82, ../sass/buyerHeader.scss */
.buyer-profile-detail-wrapper h2 {
  color: #1C75BD;
  margin: 0;
  font-size: 28pt;
}

/* line 89, ../sass/buyerHeader.scss */
.buyerName a, #totPurchase, #completeReviews {
  color: #1C75BD;
}

/* line 93, ../sass/buyerHeader.scss */
.buyer-button-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 10px;
  width: 30%;
  float: right;
  font-size: 14pt;
}

/* line 102, ../sass/buyerHeader.scss */
.buyer-button-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 106, ../sass/buyerHeader.scss */
.shop-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 0px 20px 0px;
  padding: 10px 20px;
  background: #FF0000;
  text-align: center;
}
/* line 114, ../sass/buyerHeader.scss */
.shop-button a {
  color: #ffffff;
  font-size: 14pt;
}

/* line 120, ../sass/buyerHeader.scss */
.listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  background: #1C75BD;
  text-align: center;
}
/* line 127, ../sass/buyerHeader.scss */
.listing-button a {
  color: #ffffff;
  font-size: 14pt;
}

/* line 133, ../sass/buyerHeader.scss */
.buyer-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  width: 100%;
}

/* line 140, ../sass/buyerHeader.scss */
.buyer-nav {
  border-bottom: 1px solid #ccc;
  margin: 0 0 0 0;
  border-top: 1px solid #ccc;
  height: 30px;
  background: #1C75BD;
  /* remove the pipe from the last list item */
  -webkit-padding-start: 0;
}
/* line 123, ../sass/constants.scss */
.buyer-nav li {
  width: 11%;
  float: left;
  list-style: none;
  text-align: center;
  display: inline-block;
  border-right: 2px solid #eee;
  padding: 0.1em 1.6em;
}
/* line 135, ../sass/constants.scss */
.buyer-nav li:last-child {
  border: 0;
}
/* line 137, ../sass/constants.scss */
.buyer-nav a {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 14pt;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}
/* line 144, ../sass/buyerHeader.scss */
.buyer-nav .buyer-nav-list-manage-account {
  width: 19%;
}

/* line 149, ../sass/buyerHeader.scss */
.buyer-nav:after {
  content: '';
  display: table;
  clear: both;
}

/* line 153, ../sass/buyerHeader.scss */
.buyer-nav-list a:hover {
  color: #ccc;
  text-decoration: none;
}

/* line 157, ../sass/buyerHeader.scss */
.buyer-nav-list-manage-account a:hover {
  color: #ccc;
  text-decoration: none;
}

/* line 161, ../sass/buyerHeader.scss */
.buyer-nav-list a:active {
  background-color: #ffffff;
  color: #1C75BD;
  text-decoration: none;
}

/* line 165, ../sass/buyerHeader.scss */
.buyer-nav-list-manage-account a:active {
  background-color: #ffffff;
  color: #1C75BD;
  text-decoration: none;
}

/* line 9, ../sass/buyerHome.scss */
.buyer-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 5px;
  width: 100%;
  height: 600px;
}

/* line 17, ../sass/buyerHome.scss */
.buyer-content-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 21, ../sass/buyerHome.scss */
.buyer-content-wrapper {
  margin-top: 10px;
}

/* line 25, ../sass/buyerHome.scss */
.buyer-content-menu-wrapper h2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: left;
  font-size: 22pt;
  color: #1C75BD;
  margin-top: 10px;
  padding-left: 50px;
}

/* line 35, ../sass/buyerHome.scss */
.buyer-content-menu-detail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 65%;
  margin-top: 10px;
  float: left;
  font-size: 14pt;
}

/* line 45, ../sass/buyerHome.scss */
.buyer-content-body ul {
  list-style-type: none;
}
/* line 49, ../sass/buyerHome.scss */
.buyer-content-body li {
  float: left;
  list-style: none;
  margin: 5px 5px;
  display: inline-block;
  border-bottom: 1px solid #eee;
  padding: 1.5em 1.5em;
  width: 90%;
}
/* line 59, ../sass/buyerHome.scss */
.buyer-content-body li:last-child {
  border: 0;
}

/* line 62, ../sass/buyerHome.scss */
.buyer-home-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-top: 5px;
}

/* line 71, ../sass/buyerHome.scss */
.buyer-home-nav-image img {
  width: 5%;
  float: left;
}

/* line 77, ../sass/buyerHome.scss */
.buyer-home-nav-title {
  float: left;
}

/* line 82, ../sass/buyerHome.scss */
.buyer-home-nav-title h2 {
  color: #1C75BD;
  font-size: 14pt;
  margin: 0;
  padding-left: 20px;
}

/* line 90, ../sass/buyerHome.scss */
.buyer-home-nav-detail {
  margin-top: 0;
  font-size: 12pt;
  padding-left: 20px;
}

/* line 96, ../sass/buyerHome.scss */
.activity a {
  text-decoration: underline;
}

/* line 100, ../sass/buyerHome.scss */
.buyer-sell-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  margin-bottom: 6px;
  width: 100%;
  height: 180px;
}
/* line 108, ../sass/buyerHome.scss */
.buyer-sell-wrapper h2 {
  font-size: 22pt;
  color: #1C75BD;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 50px;
}

/* line 118, ../sass/buyerHome.scss */
.buyer-sell-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 122, ../sass/buyerHome.scss */
.buyer-sell-wrapper-detail {
  font-size: 12pt;
  padding: 10px 50px 0px 50px;
}

/* line 127, ../sass/buyerHome.scss */
.buyer-sell-wrapper-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 50px;
  float: left;
}

/* line 134, ../sass/buyerHome.scss */
.listing-guide-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 0px 20px;
  padding: 10px 20px;
  background: #99CCFF;
  text-align: center;
}
/* line 142, ../sass/buyerHome.scss */
.listing-guide-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14pt;
}
