@import url(http://fonts.googleapis.com/css?family=Domine|Josefin+Sans);

.cart-wrapper h1, .cart-page-header-wrapper h2 {
  text-align: center;
  margin: 0;
}
/* line 67, ../sass/layout.scss */
.cart-page-header-wrapper h1 {
  color: #662d91;
}

/* line 79, ../sass/layout.scss */
.cart-page-section-wrapper {
  margin: 10px 0 0 0;
  overflow: hidden;
}
/* line 83, ../sass/layout.scss */
.cart-page-section-wrapper h2 {
  margin: 0 0 10px 0;
  color: #416ad2;
}
/* line 88, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33%;
  float: right;
  padding-right: 35px;
  padding-bottom: 20px;
}
/* line 94, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: left;
}

.save {
	font-size: 13pt;
  	font-weight:bold;
	color: #416ad2 !important;  
}

.remove {
  font-size: 10pt;
  font-weight: bold;
  color: #416ad2;
  float: right; 
}


/* line 99, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-image {
  width: 100%;
}
/* line 102, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-image img {
  width: 100%;
  border-radius: 3px;
}

.ProductName {
  font-weight: bold;
  font-size: 14pt;
  color: #416ad2;
}
  
.QuantityColorSize {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
} 


/* line 108, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-info {
  font-weight: bold;
  font-size: 14pt;
  color: #416ad2 !important;
  margin-top: 5px;
}
/* line 113, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-info .card-price {
  float: right;
  color: red;
}
/* line 118, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-info:after {
  content: '';
  display: table;
  clear: both;
}


/* button at bottom of cart page */
/*.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper*/ .cart-card-smallbox {
  font-size: 16pt !important;
  font-weight: bold;
  color: #416ad2 !important;
}  


  
/*.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper */ .cart-card-smallbox .boxprice {
	float: right !important;
   font-weight: bold;
  	color: red;
}
