@import url(http://fonts.googleapis.com/css?family=Domine|Josefin+Sans);
/* line 4, ../sass/layout.scss */
.cart-page-section-wrapper {
  margin: 10px 0 0 0;
  overflow: hidden;
}
/* line 8, ../sass/layout.scss */
.cart-page-section-wrapper h2 {
  margin: 0 0 10px 0;
  color: #1C75BD;
}
/* line 13, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-right: 10px;
}
/* line 19, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* line 24, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-image {
  width: 100%;
}
/* line 27, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-image img {
  width: 100%;
  border-radius: 3px;
}
/* line 33, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-info {
  font-weight: bold;
  color: #662d91;
  margin-top: 5px;
}
/* line 38, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-info .card-price {
  float: right;
}
/* line 43, ../sass/layout.scss */
.cart-page-section-wrapper .cart-card-wrapper .cart-card-content-wrapper .card-info:after {
  content: '';
  display: table;
  clear: both;
}

/* line 51, ../sass/layout.scss */
.front-page-contributors-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
}
/* line 56, ../sass/layout.scss */
.front-page-contributors-wrapper hr {
  width: 90%;
  margin: 0 auto 0 auto;
}

/* line 62, ../sass/layout.scss */
.contributor-header-top {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #1C75BD;
  width: 100%;
  padding: 10px;
}
/* line 68, ../sass/layout.scss */
.contributor-header-top h2 {
  color: #ffffff;
  text-align: center;
  margin: 0;
}

/* line 75, ../sass/layout.scss */
.contributor-header-sub {
  margin-top: 10px;
}
/* line 78, ../sass/layout.scss */
.contributor-header-sub h3 {
  color: #717070;
  text-align: center;
  margin: 0;
}

/* line 85, ../sass/layout.scss */
.contributor-card-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

/* line 91, ../sass/layout.scss */
.contributor-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding: 5px;
  margin-top: 5px;
}
/* line 97, ../sass/layout.scss */
.contributor-card a {
  text-decoration: none;
  color: #1C75BD;
}

/* line 104, ../sass/layout.scss */
.top-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  padding: 5px;
}
/* line 109, ../sass/layout.scss */
.top-header h3 {
  margin: 0;
}
/* line 112, ../sass/layout.scss */
.top-header h3 u {
  color: #1C75BD;
}

/* line 119, ../sass/layout.scss */
.marketing-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  height: 240px;
}

/* line 129, ../sass/layout.scss */
.marketing-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 133, ../sass/layout.scss */
.marketing-image-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: left;
}
/* line 138, ../sass/layout.scss */
.marketing-image-wrapper img {
  width: 100%;
}

/* line 143, ../sass/layout.scss */
.marketing-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 40%;
  float: left;
}

/* line 150, ../sass/layout.scss */
.marketing-content {
  font-size: 16pt;
}
/* line 153, ../sass/layout.scss */
.marketing-content h2 {
  color: #1C75BD;
  margin: 0;
  font-size: 18pt;
}

/* line 160, ../sass/layout.scss */
.marketing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background: #1C75BD;
  text-align: center;
}
/* line 166, ../sass/layout.scss */
.marketing-button a {
  color: #ffffff;
  text-decoration: none;
}

/* line 172, ../sass/layout.scss */
.front-hr {
  background: #ffffff;
}

/* line 177, ../sass/layout.scss */
.module-wrapper {
  width: 100%;
}

/* line 181, ../sass/layout.scss */
.module-content {
  width: 100%;
}

/* line 185, ../sass/layout.scss */
.module-content:after {
  content: '';
  display: table;
  clear: both;
}

/* line 189, ../sass/layout.scss */
.col-left, .left-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 5px;
  width: 50%;
  float: left;
}

/* line 196, ../sass/layout.scss */
.col-right, .right-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  width: 50%;
  float: right;
}

/* line 203, ../sass/layout.scss */
.card-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding: 5px;
  margin-bottom: 5px;
}

/* line 210, ../sass/layout.scss */
.card-header {
  width: 100%;
}
/* line 213, ../sass/layout.scss */
.card-header a {
  color: #1C75BD;
  text-decoration: none;
  font-weight: bold;
}
/* line 218, ../sass/layout.scss */
.card-header a img {
  width: 10px;
}

/* line 224, ../sass/layout.scss */
.card-header:after {
  content: '';
  display: table;
  clear: both;
}

/* line 228, ../sass/layout.scss */
.go-right {
  float: right;
}

/* line 232, ../sass/layout.scss */
.card-product-image {
  width: 100%;
  margin-top: 5px;
}
/* line 236, ../sass/layout.scss */
.card-product-image img {
  width: 100%;
}

/* line 243, ../sass/layout.scss */
.card-product-title a {
  color: #1C75BD;
  text-decoration: none;
  font-weight: bold;
  font-size: 12pt;
}

/* line 253, ../sass/layout.scss */
.card-producer span {
  font-weight: bold;
}
/* line 257, ../sass/layout.scss */
.card-producer .go-right img {
  width: 10px;
}

/* line 262, ../sass/layout.scss */
.card-producer:after {
  content: '';
  display: table;
  clear: both;
}

/* line 266, ../sass/layout.scss */
.card-actions {
  margin: 5px 0;
}
/* line 269, ../sass/layout.scss */
.card-actions input {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #429ceb;
  color: #ffffff;
  border: 0px solid #1c75bd;
  cursor: pointer;
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
  font-size: 12pt;
}
/* line 279, ../sass/layout.scss */
.card-actions input:hover {
  color: #1C75BD;
  background: lightgrey;
}
/* line 284, ../sass/layout.scss */
.card-actions span {
  font-weight: bold;
  color: #971111;
  font-size: 12pt;
}

/* line 292, ../sass/layout.scss */
.search-price-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
/* line 296, ../sass/layout.scss */
.search-price-wrapper input {
  border-radius: 3px;
  border: 1px solid #666;
  color: #717070;
  width: 125px;
}

/* line 302, ../sass/layout.scss */
.search-condition-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
/* line 306, ../sass/layout.scss */
.search-condition-wrapper input[type="checkbox"] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 0 5px 0;
}
/* line 310, ../sass/layout.scss */
.search-condition-wrapper label {
  margin-right: 20px;
}

/* line 315, ../sass/layout.scss */
.search-shipping-wrapper, .search-other-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
/* line 319, ../sass/layout.scss */
.search-shipping-wrapper input, .search-other-wrapper input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 0 5px 0;
}

/* line 324, ../sass/layout.scss */
.search-rating-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
/* line 328, ../sass/layout.scss */
.search-rating-wrapper img {
  width: 20px;
}
/* line 332, ../sass/layout.scss */
.search-rating-wrapper input {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #429ceb;
  color: #ffffff;
  border: 0px solid #1c75bd;
  cursor: pointer;
  float: right;
}

/* line 338, ../sass/layout.scss */
.search-rating-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 342, ../sass/layout.scss */
.search-color-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

/* line 347, ../sass/layout.scss */
.search-color-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 351, ../sass/layout.scss */
.search-color-left {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 356, ../sass/layout.scss */
.search-color-left input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 0 5px 0;
}

/* line 361, ../sass/layout.scss */
.search-color-right {
  width: 50%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 366, ../sass/layout.scss */
.search-color-right input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 0 5px 0;
}

/* line 372, ../sass/layout.scss */
.subview-header-wrapper {
  font-size: 24pt;
  font-weight: bold;
  margin-top: 10px;
}

/* line 378, ../sass/layout.scss */
.search-string {
  color: #1C75BD;
}

/* line 382, ../sass/layout.scss */
.subview-related-search-wrapper {
  font-weight: bold;
}
/* line 385, ../sass/layout.scss */
.subview-related-search-wrapper a {
  text-decoration: none;
  color: #1C75BD;
}

/* line 391, ../sass/layout.scss */
.subview-paginate-wrapper {
  width: 100%;
  margin-top: 10px;
  margin-bottom: -510px;
}
/* line 396, ../sass/layout.scss */
.subview-paginate-wrapper .side-col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  float: left;
  width: 20%;
}
/* line 403, ../sass/layout.scss */
.subview-paginate-wrapper .active {
  color: #ffffff;
  background: #1C75BD;
}
/* line 408, ../sass/layout.scss */
.subview-paginate-wrapper .item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33%;
  float: left;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
/* line 417, ../sass/layout.scss */
.subview-paginate-wrapper .center-col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: left;
  text-align: center;
}
/* line 423, ../sass/layout.scss */
.subview-paginate-wrapper .center-col .center-content {
  margin: auto;
  display: inline-block;
}

/* line 431, ../sass/layout.scss */
.subview-paginate-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 435, ../sass/layout.scss */
.active-link {
  color: #1C75BD;
  font-weight: bold;
  font-size: inherit;
}

/* line 441, ../sass/layout.scss */
.deactivated-link {
  font-weight: bold;
  font-size: inherit;
}

/* line 446, ../sass/layout.scss */
.subview-bottom-paginate-wrapper {
  width: 100%;
  text-align: center;
}
/* line 450, ../sass/layout.scss */
.subview-bottom-paginate-wrapper .subview-bottom-paginate {
  display: inline-block;
  font-size: 14pt;
}
