@import url(http://fonts.googleapis.com/css?family=Domine|Josefin+Sans);
/* line 4, ../sass/layout.scss */
.front-page-header-wrapper {
  margin-left: 305px;
}
/* line 7, ../sass/layout.scss */
.front-page-header-wrapper h1, .front-page-header-wrapper h2 {
  text-align: center;
  margin: 0;
}
/* line 12, ../sass/layout.scss */
.front-page-header-wrapper h1 {
  color: #662d91;
}

/* line 17, ../sass/layout.scss */
.front-page-section-wrapper {
  margin: 10px 0 0 0;
  overflow: hidden;
}
/* line 21, ../sass/layout.scss */
.front-page-section-wrapper h2 {
  margin: 0 0 10px 0;
  color: #416ad2;
}
/* line 26, ../sass/layout.scss */
.front-page-section-wrapper .card-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-right: 10px;
}
/* line 32, ../sass/layout.scss */
.front-page-section-wrapper .card-wrapper .card-content-wrapper {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* line 37, ../sass/layout.scss */
.front-page-section-wrapper .card-wrapper .card-content-wrapper .card-image {
  width: 100%;
}
/* line 40, ../sass/layout.scss */
.front-page-section-wrapper .card-wrapper .card-content-wrapper .card-image img {
  width: 100%;
  border-radius: 3px;
}
/* line 46, ../sass/layout.scss */
.front-page-section-wrapper .card-wrapper .card-content-wrapper .card-info {
  font-weight: bold;
  color: #662d91;
  margin-top: 5px;
}
/* line 51, ../sass/layout.scss */
.front-page-section-wrapper .card-wrapper .card-content-wrapper .card-info .card-price {
  float: right;
}
/* line 56, ../sass/layout.scss */
.front-page-section-wrapper .card-wrapper .card-content-wrapper .card-info:after {
  content: '';
  display: table;
  clear: both;
}
