@import url(http://fonts.googleapis.com/css?family=Domine|Josefin+Sans);
/* line 3, ../sass/loginout.scss */
.main-wrapper {
  margin-top: 10px;
}

/* line 7, ../sass/loginout.scss */
.login-wrapper {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px;
}

/* line 16, ../sass/loginout.scss */
.register-wrapper {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  position: relative;
  left: 50%;
  margin-left: -300px;
}

/* line 25, ../sass/loginout.scss */
.register-content-wrapper {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
  margin-top: 5px;
}
/* line 32, ../sass/loginout.scss */
.register-content-wrapper label {
  font-weight: bold;
}
/* line 36, ../sass/loginout.scss */
.register-content-wrapper input[type="email"], .register-content-wrapper input[type="text"] {
  height: 2em;
  border-radius: 3px;
  border: 1px solid #666;
  color: #6a6a6a;
  width: 50%;
  margin-bottom: 5px;
}
/* line 42, ../sass/loginout.scss */
.register-content-wrapper input[type="submit"] {
  margin-top: 5px;
  border-radius: 3px;
  background: #416ad2;
  color: #ffffff;
  border: none;
}

/* line 48, ../sass/loginout.scss */
.login-content-wrapper {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
}
/* line 54, ../sass/loginout.scss */
.login-content-wrapper label {
  font-weight: bold;
}
/* line 58, ../sass/loginout.scss */
.login-content-wrapper input[type="email"], .login-content-wrapper input[type="password"] {
  width: 100%;
  height: 2em;
  border-radius: 3px;
  border: 1px solid #666;
  color: #6a6a6a;
  margin-bottom: 5px;
}

/* line 65, ../sass/loginout.scss */
.bottom-button-wrapper {
  float: right;
}
/* line 68, ../sass/loginout.scss */
.bottom-button-wrapper input[type="submit"] {
  border-radius: 3px;
  background: #416ad2;
  color: #ffffff;
  border: none;
}

/* line 73, ../sass/loginout.scss */
.bottom-button-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 77, ../sass/loginout.scss */
h1 {
  margin: 0;
}

/* line 81, ../sass/loginout.scss */
h3 {
  margin: 0;
  color: #FF6700;
}

/* line 87, ../sass/loginout.scss */
.registration-wrapper {
  margin-top: 10px;
  width: 100%;
}

/* line 92, ../sass/loginout.scss */
.registration-bubble {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 320px;
  left: 50%;
  margin-left: -320px;
}
/* line 100, ../sass/loginout.scss */
.registration-bubble h2 {
  margin: 0;
}

/* line 105, ../sass/loginout.scss */
.registration-content {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
/* line 110, ../sass/loginout.scss */
.registration-content input[type='text'], .registration-content input[type='email'] {
  width: 100%;
  height: 2em;
  border-radius: 3px;
  border: 1px solid #666;
  color: #6a6a6a;
  margin-bottom: 5px;
}
/* line 116, ../sass/loginout.scss */
.registration-content input[type='submit'] {
  border-radius: 3px;
  background: #416ad2;
  color: #ffffff;
  border: none;
  margin-top: 5px;
}
/* line 121, ../sass/loginout.scss */
.registration-content textarea {
  height: 2em;
  border-radius: 3px;
  border: 1px solid #666;
  color: #6a6a6a;
  width: 295px;
  height: 50px;
  margin-bottom: 5px;
}
