@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
.template-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin-left: 120px;
  margin-right: 120px;
  min-height: 90vh; }



.seller-top-header {
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 5px;
  background: #ffffff;
  height:32px;
  width: 100%; 
}
.seller-top-header h3 {
margin-top:5px;
    width: 86%;
    float: left;
    font-size:13pt;font-weight:normal;
}
.seller-top-header h3 u {
      color: #1C75BD; }

.seller-top-header:after {
  content: '';
  display: table;
  clear: both; }
  
 .upgrade-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:12%;
  padding-top:5px;
  float: right;
  text-align:center;
  text-decoration: none;
  background: #9370DB;
  color:#ffffff;
  height:32px;
  }


.upgrade-button a {
  color:#ffffff;
  text-decoration: none;
  font-size: 14pt;}
  
 .seller-profile-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  width:100%;
  height: 140px; }
.seller-image-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  float: left;
  padding-top: 8px;
  height:150px;
  padding-left: 10px; }
  .seller-image-wrapper img {
    width: 80%; 
	height:120px;}
.seller-profile-detail-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 55%;
  float: left;
  font-size: 14pt; }




.seller-profile-detail-wrapper h2 {
    color: #1C75BD;
    margin: 0;
    font-size: 28pt; }

.sellerName a, #totsales, #ListedProducts {
  color: #1C75BD; }

.seller-button-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 10px;
  width: 30%;
  float: right;
  font-size: 14pt; }
  
 .shop-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 0px 20px 0px;
  padding: 10px 20px;
  background: #FF0000;
  text-decoration: none;
  text-align: center; }
  .shop-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }
	
.listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  text-decoration: none;
  background: #1C75BD;
  text-align: center; }
  .listing-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }

.post-listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding:5px 10px;
  text-decoration: none;
  background: #1C75BD;
  text-align: center; 
  width:60%;
  margin-left:50px;}
  .post-listing-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }
.seller-content-wrapper{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top:5px;
  width:100%;
  }
  
 .seller-nav {
  border-bottom: 1px ;
  margin: 0 0 0 0;
  border-top: 1px solid #ccc;
   background: #1C75BD;
   -webkit-padding-start: 0; }
  .seller-nav li {
    width:13.5%;
    float: left;
    list-style: none;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #eee;
    height:30px; }
  .seller-nav li:last-child { width:15%;
    border: 0; }
  .seller-nav a {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 14pt;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: inline-block; }
	
	.seller-nav:after {
  content: '';
  display: table;
  clear: both; }

.seller-nav-list a:hover {
  color: #1C75BD;
  background-color:#ffffff;
  text-decoration: none;width:100%;height:30px;font-weight:bold; }
  .seller-nav-list a.b {
  color: #1C75BD;
  background-color:#ffffff;
  text-decoration: none;width:100%;height:30px;font-weight:bold; }

	
	.seller-content-wrapper:after {
  content: '';
  display: table;
  clear: both; }
.seller-content-wrapper {
  margin-top: 10px; }
  .marketing-header h2{
  font-size:20pt;
  color:#1c75bd;
  width:25%;
  margin-left:30px;float:left;}
  .text-header{
  width:70%;
  font-size:14pt;
  margin-right:20px;
  float:left;
  display:inline-block;
  margin-top:20px;}
  
  .favorite-overview-wrapper {
  padding-top:5px;
  padding-bottom: 5px;
  border: 0 none;border-top:1px solid lightgrey;
  background: none;clear:both;
  }

.favorite-overview-wrapper:after {
  content: '';
  display: table;
  clear: both; }

.favorite-item-wrapper {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 18%;
  float:left;margin-left:30px;
  margin-top:30px; }
  
  .view-list-link {
  float: left;
  padding: 5px; }
  .view-list-link a {
    font-size: 10pt;
    font-weight: bold;
    color: #1C75BD; }

.active-button {-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:#4DA838;
  width:50px;height:20px;
  text-decoration:none;
  text-align:center;
  margin-right:5px;
  margin-top:5px;
  float: right; }
  .active-button a {
    font-size:10pt;margin-bottom:5px;
    color: #ffffff; }
	
.inactive-button {-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:#971111;
  width:60px;height:20px;
  text-decoration:none;
  text-align:center;
  margin-right:5px;
  margin-top:5px;
  float: right; }
  .inactive-button a {
    font-size:10pt;margin-bottom:5px;
    color: #ffffff; }
.remove-item:after {
  content: '';
  display: table;
  clear: both; }

.favorite-image {
  margin-top: 20px; }
  .favorite-image img {
    width: 60%;
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
	
	
	.item-name {
  margin-top: 5px;
  text-align: center; }
  .item-name a {
    font-size: 10pt;
    font-weight: bold;
    color: #1C75BD; }

.vender {
  padding: 5px;
  float: left;
  font-weight: bold; }

.favorite-overview-rating-wrapper {
  padding: 5px;
  float: right; }
  .favorite-overview-rating-wrapper img {
    width: 10px; }

.favorite-wrapper-bottom {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #1C75BD;
  color: #ffffff;
  border:0px solid #1c75bd;
  width: 100%;height:25px;
  text-align:center;
  font-size: 14pt;
  padding: 0;
  margin-top:10px;  }
.favorite-overview-cart-wrapper input[type="submit"]:hover {
  background-color: Red; }
.favorite-item-detail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 padding-left:30px;
  float: left;
  width:78%; }
  label{font-size:14pt;float:left;}
 .title{
 display:inline-block;
 color:#1C75BD;
 font-size:14pt;
 margin-left:65px;}
 .discription{
 display:inline-block;
 color:#1C75BD;
 font-size:14pt;
 width:80%;
 float:right;
 margin-right:47px;
 }
 .discription label{clor:gray;}
  .input{margin-left:60px;width:400px;height:25px;}
  .inputbox{
  width:600px;
  height:50px;
  margin-left:5px;
  margin-top:20px;}
  
  .favorite-item-detail h4{color:#1C75BD;font-size:14pt;}
  .textarea{width:200px;height:50px;}

.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid lightgrey;
 padding:5px 10px;
  background: #1C75BD;width:180px;
  text-decoration: none;display:inline-block;
 margin-left:20px;
  
  text-align: center; }
  .button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }
	
.edit-default-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid lightgrey;
 padding:5px 10px;
  background: #ccc;width:180px;
  text-decoration: none;display:inline-block;
 margin-right:70px;float:right;
  
  text-align: center; }
  .edit-default-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }



.detail-bottom{
float:left;width:95%;}
.detail-bottom li{width:23%;list-style:none;display:inline;}
.logo-facebook img {float:left}
.logo-pinterest img{margin-left:20px;padding-bottom:10px;}
.logo-linkedin img{padding-left:30px;margin-bottom:15px;margin-top:10px;}
.logo-twitter img{float:right;margin-top:10px;margin-right:90px;}

hr{width:97%;}
.dash{border: 0 none;
  border-top: 2px dashed #ccc;
  background: none;clear:both;}
  