@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
.template-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin-left: 120px;
  margin-right: 120px;
  min-height: 90vh; }



.seller-top-header {
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 5px;
  background: #ffffff;
  height:32px;
  width: 100%; 
}
.seller-top-header h3 {
margin-top:5px;
    width: 86%;
    float: left;
    font-size:13pt;font-weight:normal;
}
.seller-top-header h3 u {
      color: #1C75BD; }

.seller-top-header:after {
  content: '';
  display: table;
  clear: both; }
  
 .upgrade-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:12%;
  padding-top:5px;
  float: right;
  text-align:center;
  text-decoration: none;
  background: #9370DB;
  color:#ffffff;
  height:32px;
  }


.upgrade-button a {
  color:#ffffff;
  text-decoration: none;
  font-size: 14pt;}
  
 .seller-profile-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  width:100%;
  height: 140px; }
.seller-image-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  float: left;
  padding-top: 8px;
  height:150px;
  padding-left: 10px; }
  .seller-image-wrapper img {
    width: 80%; 
	height:120px;}
.seller-profile-detail-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 55%;
  float: left;
  font-size: 14pt; }




.seller-profile-detail-wrapper h2 {
    color: #1C75BD;
    margin: 0;
    font-size: 28pt; }

.sellerName a, #totsales, #ListedProducts {
  color: #1C75BD; }

.seller-button-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 10px;
  width: 30%;
  float: right;
  font-size: 14pt; }
  
 .shop-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 0px 20px 0px;
  padding: 10px 20px;
  background: #FF0000;
  text-decoration: none;
  text-align: center; }
  .shop-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }
	
.listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  text-decoration: none;
  background: #1C75BD;
  text-align: center; }
  .listing-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }

.post-listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding:5px 10px;
  text-decoration: none;
  background: #1C75BD;
  text-align: center; 
  width:60%;
  margin-left:50px;}
  .post-listing-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }
.seller-content-wrapper{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top:5px;
  width:100%;
  }
  
 .seller-nav {
  border-bottom: 1px ;
  margin: 0 0 0 0;
  border-top: 1px solid #ccc;
   background: #1C75BD;
   -webkit-padding-start: 0; }
  .seller-nav li {
    width:13.5%;
    float: left;
    list-style: none;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #eee;
    height:30px; }
  .seller-nav li:last-child { width:15%;
    border: 0; }
  .seller-nav a {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 14pt;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: inline-block; }
  .seller-nav-list-manage-account {
     }

.seller-nav:after {
  content: '';
  display: table;
  clear: both; }

.seller-nav-list a:hover {
  color: #1C75BD;
  background-color:#ffffff;
  text-decoration: none;width:100%;height:30px;font-weight:bold; }
  .seller-nav-list a.b {
  color: #1C75BD;
  background-color:#ffffff;
  text-decoration: none;width:100%;height:30px;font-weight:bold; }

	
	.seller-content-wrapper:after {
  content: '';
  display: table;
  clear: both; }
.seller-content-wrapper {
  margin-top: 10px; }
  
 .nav li {
    width:49.2%;margin-left:0px;
    list-style:none;
    text-align:center;
    display:inline-block;
    
}

  .nav li:last-child {width:49%;
    border:0; }
  .nav a {
    
    text-align:center;
	 color:#1C75BD;
    text-decoration: none;
    display: inline-block; padding-top:5px;
    font-size:12pt; font-weight:bold;padding-left:0px;}

.nav  a:hover {background:#1C75BD;color:white;height:22px;width:100%;
   }
 .nav a.b{background:#1C75BD;color:white;height:22px;width:100%;}

.nav a:active {
  background-color: #ffffff;
  color: #1C75BD;
  text-decoration: none; }

                
.nav{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height:30px;
  width:20%;padding-left:0px;
  float:left;margin-left:20px;
  display:inline-block;
}
  .print-button{
 padding:10px 10px;
 text-align: center;
 text-decoration:none;
 background:#1C75BD;
 color:white; 
 float:right;
 margin-right:45px;
 width:18%;
 margin-bottom:20px;
 }
 .printbutton{ -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;height:3%;padding-top:20px;}
 #subtotal,#shipping-handling,#total-before-tax,#estimated-tax,#grand-total{float:right;margin-right:50px;}
.order-list-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:7%; 
  margin-top:5%;clear:both;}
  
 .date {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:20%;padding-bottom:10px;
  margin-left:20px;
  margin-top: 5px;
  float:left;padding-left:0px;
  color: #1C75BD;
 text-align:left;  }
 #orderedDate {
  color:black; }
  
  
.orderNumber {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:25%;
  margin-top: 5px;
  padding-right:20px;
  text-align:left;
  float:right; }
  .orderNumber a {
    color: #1C75BD; }
	
.orderNumber h2{color:#1C75BD;}

.orderNumber:after {
  content: '';
  display:table;
  clear: both; }
/*.dash{background-color:#fff;
border:#ccc 2px dashed;
border-style: none none dashed;
color:#fff;}*/
hr{width:97%;}
.dash{border: 0 none;
  border-top: 2px dashed #ccc;
  background: none;}
.order-summary-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 height:15%;
  margin-top:4%;margin-bottom:2%;}

.ordered-address{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:20%;
  margin-left:20px;
   text-align:left;
  float: left;
  padding-top:0px;
  color:#1C75BD;
 }

#shipping-address,#visa-number{color:black;font-weight:normal;padding-top:0px;margin-top:0px;}
 .payment-method{
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:30%;
  float:left;
  color:#1C75BD;}
  .order-summary{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:25%;float:right;padding-bottom:10px;
  text-align:left;
 }

.order-price{}
#subtotal,#shipping-handling,#total-before-tax,#estimated-tax,#grand-total{text-align:right;}
.ordered-detail {
padding-top:1%;
width:100%;
height:160px;}

.ordered-detail2 {
padding-top:1%;
width:100%;
height:170px; }
.ordered-image {
 float: left;
padding: 0 20px;
width: 10%; }
.ordered-image img {
    width: 100%; }
.ordered-list-1 {
  float:left;
  padding: 0 10px;
  width: 40%; 
  text-align:left;}

.ordered-list-1:after {
  content: '';
  display: table;
  clear: both; }

.ordered-name {
  font-weight: bold; }

.seller, .condition, .ordered-button-1 {
  padding-top: 10px; }
 
 
 #sellerName {
  color: #1C75BD;
  text-decoration: underline; }

#conditionStatus {
  color: #FF0000; }

.shipped-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 10px;
  width: 40%;
  float:left;
  padding: 10px 10px;
  text-align: center;
  background: #1C75BD; }
  .shipped-button a {
    color: #ffffff;
    text-decoration: none; }
.issue-refund-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 10px;
  width: 40%;
  float: left;
  padding: 10px 10px;
  text-align: center;
  background: #191970; }
  .issue-refund-button a {
    color: #ffffff;
    text-decoration: none; }
.ordered-list-2 {
  width:40%;
  float:left;
  margin-left:20px;
}

.ordered-list-2:after {
  content: '';
  display: table;
  clear: both; }

.estimated-delivery {float:right;
  padding-left: 150px; }

.estimated-delivery-date {float:right;
  color: #971111; }

.contact-seller {float:right;
  padding-left: 150px;
   }
  .contact-seller a {
    color: #1C75BD;
    font-weight: bold; }

.ordered-quantity {
  float: left;
  color: #971111;
  padding-top:10px;
  margin-left:280px;
  display:inline;
 }
 .temp{padding-top:10px;float:left;margin-left:80px;width:100%;}
 #orderedQualityNum{}
 #price{}
 .left{float:left;margin-left:180px;}
 .right{float:right;margin-right:80px;}
p{display:inline;}
  .ordered-price {
  float: right;
  color: #971111;
  display:inline;
  margin-left:220px;
  
    }

.ordered-button-2{width:100%;margin-left:10px;}



.payment-confirmation {
  width:35%;
  float:right;
  margin-top:20px;margin-right:20px;
  text-align: center;
  color:black;
   }
  .payment-confirmation a {
     color:black;float:left;
    text-decoration:none;}


.confirmation-image{-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;float:right;
 width:5px;height:10px;}







 