@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
.template-content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin-left: 120px;
  margin-right: 120px;
  min-height: 90vh; }



.seller-top-header {
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 5px;
  background: #ffffff;
  height:32px;
  width: 100%; 
}
.seller-top-header h3 {
margin-top:5px;
    width: 86%;
    float: left;
    font-size:13pt;font-weight:normal;
}
.seller-top-header h3 u {
      color: #1C75BD; }

.seller-top-header:after {
  content: '';
  display: table;
  clear: both; }
  
 .upgrade-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:11%;height:32px;
  padding-top:5px;
  float: right;
  text-align:center;
  text-decoration: none;
  background: #9370DB;
  color:#ffffff;
  
  }

.upgrade-button a {
  color:#ffffff;
  text-decoration: none;
  font-size: 14pt;margin-bottom:5px;}

  
 .seller-profile-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  width:100%;
  height: 140px; }
.seller-image-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  float: left;
  padding-top: 8px;
  height:150px;
  padding-left: 10px; }
  .seller-image-wrapper img {
    width: 80%; 
	height:120px;}
.seller-profile-detail-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 55%;
  float: left;
  font-size: 14pt; }




.seller-profile-detail-wrapper h2 {
    color: #1C75BD;
    margin: 0;
    font-size: 28pt; }

.sellerName a, #totsales, #ListedProducts {
  color: #1C75BD; }

.seller-button-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 10px;
  width: 30%;
  float: right;
  font-size: 14pt; }
  
 .shop-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin: 0px 20px 0px;
  padding: 10px 20px;
  background: #FF0000;
  text-decoration: none;
  text-align: center; }
  .shop-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }
	
.listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  text-decoration: none;
  background: #1C75BD;
  text-align: center; }
  .listing-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }

.post-listing-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding:5px 10px;
  text-decoration: none;
  background: #1C75BD;
  text-align: center; 
  width:60%;
  margin-left:50px;}
  .post-listing-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }
.seller-content-wrapper{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top:5px;
 width:100%;
  }
  
 .seller-nav {
  border-bottom: 1px ;
  margin: 0 0 0 0;
  border-top: 1px solid #ccc;
   background: #1C75BD;
   -webkit-padding-start: 0; }
  .seller-nav li {
    width:14%;
    float: left;
    list-style: none;
    text-align: center;
    display: inline-block;
    border-right: 2px solid #eee;
    height:30px; }
  .seller-nav li:last-child { width:15%;
    border: 0; }
  .seller-nav a {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 14pt;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: inline-block; }
  .seller-nav-list-manage-account {
     }

.seller-nav:after {
  content: '';
  display: table;
  clear: both; }

.seller-nav-list a:hover {
  color: #1C75BD;
  background-color:#ffffff;
  text-decoration: none;width:100%;height:30px;font-weight:bold; }
  .seller-nav-list a.b {
  color: #1C75BD;
  background-color:#ffffff;
  text-decoration: none;width:100%;height:30px;font-weight:bold; }
	
	.seller-content-wrapper:after {
  content: '';
  display: table;
  clear: both; }

.seller-content-wrapper {
  margin-top: 10px; }

.payment-wrapper-header h2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:25%;
  float: left;
  font-size:20pt;
  color: #1C75BD;
  margin-top: 10px;margin-left:30px;
  }
  
 .payment-wrapper-header-detail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:70%;
  margin-top:10px;
  margin-left:10px;
  float:left;
  font-size: 14pt; }
  
 .dash{background-color:#fff;
border:#ccc 1px dotted;
border-style: none none dotted;
color:#fff;width:92%;}

 .payment-wrapper{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border:1px solid lightgrey;
  background-color:#ffffff;
   margin-top:5px;overflow:hidden;
   margin-bottom:5px;height:17%;
    width:90%;margin-left:50px;
  clear:both;
  }
   .header{-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;width:100%;
  height:40px;
  text-align:center;
  font-weight:bold;
  font-size:16pt;
  padding-top:5px;}
  
  .current-balance-wrapper, .bank-account-wrapper{
  width:34%;
  height:100%;
  float:left;
  border-right:1px dotted #eee;
  text-align:center;
  }
  
  .billing-info-wrapper{width:31.6%;
  height:100%;
  float:left;
  text-align:center;}
  
  .billing-info-wrapper-header{-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;width:100%;height:40px;text-align:center;font-weight:bold;font-size:16pt;padding-top:5px;}
  
  .question-mark-button{-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  text-decoration: none;
  background: #1C75BD;color:#ffffff;float:right; 
  width:5%;height:25px;margin-right:10px;}
  
  .balance-amount{ font-size:20pt;font-weight:bold;color:1c75bd;margin-top:25px;}
  .deposit-button{ -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  background: #1C75BD; 
  width:50%;height:20%;margin-left:80px;margin-top:20px;margin-bottom:5px;
  text-align: center; }
  .deposit-button a {
    color: #ffffff;
	text-decoration: none;
    font-size: 14pt; }
.Account-info,.card-info{font-size:14pt;padding-top:30px;}	
.Update{float:right;margin-right:20px;margin-top:20px;}
.Update a{font-size:14pt;color:#1c75bd}
#Account-no{color:1c75bd;font-size:16pt;font-weight:bold;}
#credit-card-expiry{color:1c75bd;font-size:16pt;font-weight:bold;}

  
.nav{-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;width:100%;height:40px;}
  .nav li{display:inline-block;list-style:none;width:13%;font-size:14pt;font-weight:bold;padding-top:5px;}
  .nav li:nth-child(2){width:33%;}
  
.transaction{-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:#ffffff;width:100%;}
  .transaction li{display:inline-block;list-style:none;width:13%;font-size:12pt;padding-top:5px;padding-top:0px;}
  .transaction li:nth-child(2){width:33%;text-align:left;}
  
  .subview-bottom-paginate-wrapper {
  text-align: center; }

.subview-bottom-paginate {
  display: inline-block;
  font-size: 14pt; 
  margin-bottom:10px;}

.active-link {
  color: #1C75BD;
  font-weight: bold;
  font-size: inherit; }

.deactivated-link {
  font-weight: bold;
  font-size: inherit; }
.container{margin:0 auto;overflow:hidden;position:relative;
}