@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
/* line 4, ../sass/products.scss */
.front-page-contributors-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
}
/* line 9, ../sass/products.scss */
.front-page-contributors-wrapper hr {
  width: 90%;
  margin: 0 auto 0 auto;
}

/* line 15, ../sass/products.scss */
.contributor-header-top {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #1C75BD;
  width: 100%;
  padding: 10px;
}
/* line 21, ../sass/products.scss */
.contributor-header-top h2 {
  color: #ffffff;
  text-align: center;
  margin: 0;
}

/* line 28, ../sass/products.scss */
.contributor-header-sub {
  margin-top: 10px;
}
/* line 31, ../sass/products.scss */
.contributor-header-sub h3 {
  color: #717070;
  text-align: center;
  margin: 0;
}

/* line 38, ../sass/products.scss */
.contributor-card-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

/* line 44, ../sass/products.scss */
.contributor-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  padding: 5px;
  margin-top: 5px;
}
/* line 50, ../sass/products.scss */
.contributor-card a {
  text-decoration: none;
  color: #1C75BD;
}

/* line 56, ../sass/products.scss */
.top-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  padding: 5px;
  flex: 0 0 auto;
}
/* line 62, ../sass/products.scss */
.top-header h3 {
  margin: 0;
}
/* line 65, ../sass/products.scss */
.top-header h3 span {
  color: #1C75BD;
  text-decoration: underline;
}

/* line 73, ../sass/products.scss */
.row-one-wrapper {
  display: flex;
  align-content: stretch;
  width: 100%;
  margin-top: 5px;
  height: 540px;
  flex: 0 0 auto;
}

/* line 82, ../sass/products.scss */
.images-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 605px;
  padding-right: 5px;
  flex: 0 0 auto;
}

/* line 90, ../sass/products.scss */
.images-content {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
}
/* line 93, ../sass/products.scss */
.images-content img {
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 450px;
}

/* line 100, ../sass/products.scss */
.images-slide-wrapper {
  text-align: center;
}

/* line 104, ../sass/products.scss */
.images-slide-content {
  display: inline-block;
}
/* line 107, ../sass/products.scss */
.images-slide-content img {
  width: 100px;
  height: 75px;
  border-radius: 0;
}

/* line 115, ../sass/products.scss */
.overview-wrapper {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 380px;
  padding: 5px;
  flex: 0 0 auto;
  margin-bottom: 7px;
}
/* line 124, ../sass/products.scss */
.overview-wrapper h2 {
  margin: 0;
}

/* line 129, ../sass/products.scss */
.overview-content-wrapper {
  height: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 137, ../sass/products.scss */
.overview-vendor a {
  color: #1C75BD;
}

/* line 142, ../sass/products.scss */
.overview-rating-wrapper {
  flex: 0 0 auto;
}
/* line 144, ../sass/products.scss */
.overview-rating-wrapper img {
  width: 10px;
}
/* line 148, ../sass/products.scss */
.overview-rating-wrapper a {
  color: #1C75BD;
}

/* line 153, ../sass/products.scss */
.overview-price-wrapper {
  flex: 0 0 auto;
  width: 100%;
}

/* line 158, ../sass/products.scss */
.overview-price-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 162, ../sass/products.scss */
.overview-price-col-left {
  width: 50%;
  float: left;
}

/* line 167, ../sass/products.scss */
.overview-price-col-right {
  padding: 10px 0;
  width: 50%;
  float: right;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 174, ../sass/products.scss */
.overview-price-col-right a {
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  width: 100%;
  background-color: #D1D1D1;
}
/* line 182, ../sass/products.scss */
.overview-price-col-right a:hover {
  background-color: #1C75BD;
}

/* line 187, ../sass/products.scss */
.overview-price {
  font-size: 30px;
  font-weight: bold;
}

/* line 192, ../sass/products.scss */
.overview-currency {
  font-size: 13px;
  color: #1C75BD;
}

/* line 197, ../sass/products.scss */
.overview-stock {
  color: #4DA838;
  font-weight: bold;
}

/* line 202, ../sass/products.scss */
.overview-condition {
  color: #971111;
  font-weight: bold;
}

/* line 207, ../sass/products.scss */
.overview-options-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  flex: 1 0 auto;
}

/* line 213, ../sass/products.scss */
.overview-options-wrapper::after {
  content: '';
  display: table;
  clear: both;
}

/* line 217, ../sass/products.scss */
.overview-option-col-left {
  float: left;
  width: 50%;
}
/* line 221, ../sass/products.scss */
.overview-option-col-left input, .overview-option-col-left select {
  border-radius: 3px;
  border: 1px solid #666;
  color: #717070;
  max-width: 100px;
  margin-bottom: 5px;
}

/* line 228, ../sass/products.scss */
.overview-option-col-right {
  float: right;
  width: 50%;
}
/* line 232, ../sass/products.scss */
.overview-option-col-right input, .overview-option-col-right select {
  border-radius: 3px;
  border: 1px solid #666;
  color: #717070;
  max-width: 100px;
  margin-bottom: 5px;
}

/* line 239, ../sass/products.scss */
.overview-overview-wrapper {
  flex: 1 0 auto;
  overflow-y: auto;
}
/* line 245, ../sass/products.scss */
.overview-overview-wrapper h3, .overview-overview-wrapper ul {
  margin: 0;
}

/* line 250, ../sass/products.scss */
.overview-cart-wrapper {
  flex: 0 0 auto;
}
/* line 253, ../sass/products.scss */
.overview-cart-wrapper input[type="submit"] {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #429ceb;
  color: #ffffff;
  border: 0px solid #1c75bd;
  cursor: pointer;
  width: 100%;
  font-size: 25px;
  padding: 0;
  line-height: 51px;
  font-family: "Enriqueta", serif;
}
/* line 262, ../sass/products.scss */
.overview-cart-wrapper input[type="submit"]:hover {
  background-color: #1C75BD;
}

/* line 268, ../sass/products.scss */
.product-description-wrapper {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  flex: 1 1 auto;
}
/* line 274, ../sass/products.scss */
.product-description-wrapper h2 {
  margin: 0;
}

/* line 280, ../sass/products.scss */
.detail-row {
  width: 100%;
  margin-top: 10px;
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
}

/* line 288, ../sass/products.scss */
.detail-left-wrapper {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  flex: 1 1 auto;
  margin-right: 0.5em;
}
/* line 295, ../sass/products.scss */
.detail-left-wrapper h2 {
  margin: 0;
}
/* line 299, ../sass/products.scss */
.detail-left-wrapper p {
  margin: 5px 0 5px 25px;
}

/* line 304, ../sass/products.scss */
.detail-title {
  font-weight: bold;
}

/* line 308, ../sass/products.scss */
.detail-right-wrapper {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  flex: 1 1 auto;
}
/* line 314, ../sass/products.scss */
.detail-right-wrapper h2, .detail-right-wrapper ul {
  margin: 0;
}

/* line 320, ../sass/products.scss */
.QandA-wrapper {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 5px;
  flex: 1 1 auto;
}

/* line 332, ../sass/products.scss */
.QandA-header-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 336, ../sass/products.scss */
.QandA-header-title {
  float: left;
}
/* line 339, ../sass/products.scss */
.QandA-header-title h2 {
  margin: 0;
}

/* line 344, ../sass/products.scss */
.QandA-header-ask {
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  float: right;
  background-color: #F3F3F3;
  display: block;
  border: 1px solid grey;
  border-radius: 6px;
}
/* line 352, ../sass/products.scss */
.QandA-header-ask input[type="text"] {
  background: none;
  border: none;
  width: 400px;
  padding: 5px;
}
/* line 359, ../sass/products.scss */
.QandA-header-ask input[type="submit"] {
  border: none;
  background-color: #1C75BD;
  color: #ffffff;
  padding: 5px;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  margin-right: -2px;
}

/* line 371, ../sass/products.scss */
.QandA-answer-wrapper {
  margin-top: 5px;
}
/* line 374, ../sass/products.scss */
.QandA-answer-wrapper h3 {
  margin: 0;
}
/* line 378, ../sass/products.scss */
.QandA-answer-wrapper p {
  margin: 0 0 0 25px;
}

/* line 383, ../sass/products.scss */
.QandA-question {
  color: #1C75BD;
}

/* line 387, ../sass/products.scss */
.QandA-answer {
  color: #4DA838;
}

/* line 391, ../sass/products.scss */
.QandA-user {
  color: #D1D1D1;
  margin-left: 50px;
}

/* line 396, ../sass/products.scss */
.QandA-more {
  color: #1C75BD;
  margin-left: 25px;
}

/* line 402, ../sass/products.scss */
.review-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  flex: 1 1 auto;
}

/* line 411, ../sass/products.scss */
.review-header-wrapper {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 416, ../sass/products.scss */
.review-header-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 420, ../sass/products.scss */
.review-header-left-col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0;
  width: 66%;
  float: left;
}
/* line 426, ../sass/products.scss */
.review-header-left-col h2 {
  margin: 0;
}
/* line 429, ../sass/products.scss */
.review-header-left-col h2 img {
  width: 14px;
}
/* line 433, ../sass/products.scss */
.review-header-left-col h2 span {
  font-size: 10pt;
  color: #1C75BD;
}

/* line 440, ../sass/products.scss */
.review-header-right-col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0;
  width: 33%;
  float: right;
  text-align: center;
}
/* line 447, ../sass/products.scss */
.review-header-right-col a {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #429ceb;
  color: #ffffff;
  border: 0px solid #1c75bd;
  cursor: pointer;
  font-size: 14pt;
  padding: 5px;
}
/* line 453, ../sass/products.scss */
.review-header-right-col a:hover {
  background: #1C75BD;
}

/* line 460, ../sass/products.scss */
.review-personal-header h3 {
  margin: 0;
}
/* line 463, ../sass/products.scss */
.review-personal-header h3 img {
  width: 10px;
}

/* line 470, ../sass/products.scss */
.review-author-header a {
  color: #1C75BD;
}

/* line 475, ../sass/products.scss */
.review-question-header {
  color: #1C75BD;
}
/* line 478, ../sass/products.scss */
.review-question-header a {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #429ceb;
  color: #ffffff;
  border: 0px solid #1c75bd;
  cursor: pointer;
  padding: 0 10px;
}
/* line 483, ../sass/products.scss */
.review-question-header a:hover {
  background: #1C75BD;
}

/* line 488, ../sass/products.scss */
.review-footer {
  margin-top: 25px;
  font-size: 14pt;
}

/* line 493, ../sass/products.scss */
.review-see-more {
  color: #1C75BD;
}

/* line 497, ../sass/products.scss */
.review-write {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #429ceb;
  color: #ffffff;
  border: 0px solid #1c75bd;
  cursor: pointer;
  padding: 0 50px;
}

/* line 502, ../sass/products.scss */
.review-write:hover {
  background: #1C75BD;
}

/* line 507, ../sass/products.scss */
.also-sold-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
  margin-top: 0.5rem;
  padding: 0.5rem;
}
/* line 513, ../sass/products.scss */
.also-sold-wrapper h2 {
  color: #1C75BD;
  margin: 0;
  text-align: center;
}
/* line 519, ../sass/products.scss */
.also-sold-wrapper h3 a {
  color: #1C75BD;
  margin: 0;
}
/* line 524, ../sass/products.scss */
.also-sold-wrapper > img {
  width: 100%;
  height: 150px;
}

/* line 530, ../sass/products.scss */
.also-sold-by-wrapper {
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 534, ../sass/products.scss */
.also-sold-by-wrapper img {
  width: 10pt;
}

/* line 539, ../sass/products.scss */
.also-sold-by-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 543, ../sass/products.scss */
.also-sold-by-left {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

/* line 550, ../sass/products.scss */
.also-sold-by-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
  text-align: right;
}

/* line 558, ../sass/products.scss */
.also-sold-by-cart-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

/* line 562, ../sass/products.scss */
.also-sold-by-cart-left {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 567, ../sass/products.scss */
.also-sold-by-cart-left input {
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background: #429ceb;
  color: #ffffff;
  border: 0px solid #1c75bd;
  cursor: pointer;
  font-family: inherit;
}
/* line 572, ../sass/products.scss */
.also-sold-by-cart-left input:hover {
  color: #1C75BD;
  background: #D1D1D1;
}

/* line 578, ../sass/products.scss */
.also-sold-by-cart-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  color: #971111;
}
